.main-title {
  font-size: 400%;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
}

.testimonial-img {
  background-color: var(--color-grey-light);
  background-position: center top;
}

.testimonial-text {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='none' stroke='%23eee' stroke-linecap='round' stroke-linejoin='round' stroke-width='12' d='M106.8 75.2q-40.2 19.6-40.2 46.1 17.3 2 28.4 13.9t11.1 27.6q0 16.7-11 28.1t-27.2 11.5q-18.3 0-31.5-14.9t-13.2-36.1q0-63.7 70.9-99.7zm119.6 0q-39.9 19.6-39.9 46.1 17 2 28.1 13.9t11.1 27.6q0 16.7-10.8 28.1t-27.1 11.4q-18.3 0-31.7-14.9t-13.4-36.1q0-63.7 71.3-99.7z'/%3E%3C/svg%3E");
  background-size: auto 80%;
  background-position: -3em -1em;
  background-repeat: no-repeat;
}

.testimonial-button {
  padding: 0;
  border-radius: 50em;
  border-color: var(--color-grey-light);
}

.testimonial-button:hover,
.testimonial-button:focus {
  background-color: #fff;
  border-color: var(--color-grey);
}

.testimonial-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000;
}

.testimonial-button[aria-selected="true"] {
  background-color: var(--color-grey-light);
}

[data-state="loading"] .testimonial-img {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='%23e2e2e2' d='M0 0h256v256H0z'/%3E%3Cpath fill='%23999' d='M103.4 136.6a45.6 45.6 0 1 1 49.2 0c18.4 12 31.6 37.1 34 66.9H69.4c2.4-29.8 15.7-54.9 34-66.9z'/%3E%3C/svg%3E") !important;
}

[data-state="loading"] .testimonial-author,
[data-state="loading"] .testimonial-quote {
  background-color: #e2e2e2 !important;
  color: #e2e2e2 !important;
  pointer-events: none;
  user-select: none;
}

.main-title-portfolio .main-title {
  transform: scale(.65);
  transform-origin: left bottom;
}

@media only screen and (min-width: 38em) {

  .intro-text {
    margin-bottom: 0;
  }

  .testimonials-wrap {
    bottom: -2em;
    position: relative;
  }

  .testimonials {
    box-shadow: 0 -.2em 1.4em rgba(0, 0, 0, .3);
  }

  .testimonials-wrap::after {
    bottom: -1.4em;
    content: " ";
    left: 0;
    height: 3.6em;
    position: absolute;
    width: 100%;
    z-index: 1;

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 60%);
  }

  .news-learn-more {
    padding-top: 0;
  }

  .main-title-portfolio .main-title {
    transform: scale(1);
  }

}

@media only screen and (max-width: 38em) {

  .testimonials-wrap {
    margin-bottom: 0;
  }

}
