.angle-card {
  position: relative;
}

.angle-card::after {
  content: " ";
  height: 4px;
  left: 35%;
  position: absolute;
  width: 30%;
  bottom: .4em;

  background-color: var(--color-grey-light);
  transform: rotate(2deg);
}

.angle-card-top::before {
  content: " ";
  height: 4px;
  left: 35%;
  position: absolute;
  width: 30%;
  top: .4em;

  background-color: var(--color-grey-light);
  transform: rotate(-2deg);
}

.angle-card-group :nth-child(even) .angle-card::after {
  transform: rotate(-2deg);
}

.angle-card-group :last-child .angle-card {
  margin-bottom: 0;
}

.angle-card-group :last-child .angle-card::after {
  content: none;
  display: none;
}

@media only screen and (min-width: 60em) {

  .angle-card-group :nth-last-child(2) .angle-card,
  .angle-card-group :nth-last-child(3) .angle-card {
    margin-bottom: 0;
  }

  .angle-card-group :nth-last-child(2) .angle-card::after,
  .angle-card-group :nth-last-child(3) .angle-card::after {
    content: none;
    display: none;
  }

}

.angle-bottom-card {
  background-color: #fff;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  overflow: hidden;
}

.faculty-card-details {
  background-color: #fff;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
