:root
{
	--background-color: var(--white);
	--black: rgb(0, 0, 0);
	--dark-green-50: rgb(125, 167, 141);
	--dark-green: rgb(43, 101, 65);
	--grey: rgb(100, 102, 106);
	--lime-green: rgb(149, 200, 70);
	--orange: rgb(224, 173, 59);
	--sans: 'Open Sans', sans-serif;
	--serif: 'Merriweather', serif;
	--teal: rgb(67, 152, 164);
	--text-color: rgb(0, 0, 0);
	--white: rgb(255, 255, 255);
}

html
{
	height: 100%;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

*, *::before, *::after
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background-color: var(--background-color);
	height: 100%;
	padding: 0;
	overflow-x: hidden;
}

/* 
* { outline: 1px solid red; }
 */

.masthead
{
	background-color: var(--dark-green);
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: flex;
	justify-content: center;
}

.masthead-content
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
	max-width: 90vw;
}

.logo-algonquindesign
{
	display: block;
	width: 100%;
	min-width: 120px;
	max-width: 320px;
	height: auto;
}

.banner
{
	background-image: url('../images/green-light-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 1rem;
	padding: 1rem 0;
}

.banner-content { width: 90vw; }

.news
{
	background-color: var(--white);
	width: 90%;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat( auto-fit, minmax(min(280px, 90%), 1fr) );
	gap: 1.5rem;
	margin-inline: auto;
	margin-bottom: 1rem;
}

.news-item
{
	border: solid 2px lightgrey;
	border-radius: 10px;
	padding: 0.75rem;
}

.stats
{
	background-color: var(--white);
	width: 100%;
	margin-inline: auto;
	display: grid;
	justify-items: center;
}

.stats-grid
{
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat( auto-fit, minmax(min(280px, 90%), 1fr) );
	width: 90vw;
	margin-bottom: 1rem;
}

.satisfaction
{
	display: block;
	max-width: 90%;
}

.fieldwork
{
	background-image: url('../images/grey-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
}

.fieldwork article { max-width: 90%; }

.grads
{
	background-color: var(--orange);
	background-image: url('../images/orange-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
	gap: 1.5rem;
	align-items: center;
	padding: 1rem 2rem;
}

.grads article
{
	width: 65vw;
	padding: 1rem;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.grads article div:nth-of-type(1)
{
	flex: 1 1 33.33%;
	box-sizing: border-box;
	min-width: 250px;
}

.grads article img
{
	max-width: 250px;
	margin: 0;
}

.grads article div:nth-of-type(2)
{
	flex: 2 1 66.67%;
	box-sizing: border-box;
	padding: 10px;
	min-width: 200px;
}

.grads article div:nth-of-type(1)
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.grads ol
{
	max-width: 80vw;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 1rem;
}

.grads ol li
{
	align-self: start;
	background-color: white;
	aspect-ratio: 1 / 1;
	padding: 1rem;
	hyphens: none;
	color: black;
	border-radius: 10px;
	text-align: center;
}

.grads ol li img
{
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

.sample-work
{
	background-image: url('../images/grey-dark-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	display: flex;
	flex-direction: column;
	padding-bottom: 2rem;
}

.sample-work-grid-container
{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, auto);
	gap: 0.25rem;
	margin: 1rem auto;
}

.sample-work-grid-container img
{
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
	display: block;
	border: solid 1px black;
}

.sample-work .video
{
	padding: 25%;
	position: relative;
	width: 90vw;
	margin: 0 auto;
	filter: drop-shadow(0px 0px 5px black);
}

.curriculum
{
	background-color: var(--white);
	width: 100%;
}

.curriculum div
{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 1rem;
}

.faculty
{
	background-color: #ebebeb;
	padding: 2rem 2rem;
	background-image: url('../images/grey-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 1rem;
}

.faculty ul
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	max-width: 90vw;
	margin: 0 auto;
	gap: 2rem;
}

.faculty ul.person { margin-bottom: 1rem; }

.faculty ul.person > li
{
	background-color: white;
	border-radius: 8px;
	padding: .5rem;
}

.faculty ul { list-style: none; }
.faculty ul.person p { margin: 0; }

.faculty ul.person-links
{
	display: flex;
	margin-top: 1rem;
}

.faculty .person li
{
	border-radius: 20px;
	padding-bottom: 0.5rem;
}

.faculty .person li img
{
	width: 100%;
	height: auto;
	display: block;
	max-width: 100%;
	margin-bottom: 0.5rem;
	border-radius: 5px;
}

.rgd
{
	background-color: var(--white);
	width: 100%;
	padding: 1rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rgd-content
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	align-content: center;
	gap: 1.5rem;
	width: 90%;
	text-align: center;
}

.rgd-text
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rgd-logo
{
	max-width: 260px;
	width: 100%;
}

.rgd-logo .svg
{
	display: block;
	width: 100%;
	height: auto;
}

.portfolio-reqs
{
	background-color: #ebebeb;
	background-image: url('../images/grey-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem 0;
}

.portfolio-reqs-content
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 90%;
}

.portfolio-reqs-text
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.portfolio-reqs-logo
{
	max-width: 100px;
	width: 100%;
}

.portfolio-reqs-logo svg
{
	display: block;
	width: 100%;
	height: auto;
}

/* Grid of portfolio pieces on requirements page */
.portfolio-reqs-pieces
{
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	width: 100%;
	margin: 0 auto;
}

.portfolio-reqs-pieces li
{
	position: relative;
	justify-items: center;
}

.portfolio-reqs-pieces li img
{
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
	border: solid 1px #C0C0C0;
}

.portfolio-reqs-questions { }

.portfolio-reqs-questions ul
{
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 2rem;
}

.portfolio-reqs-questions ul li { display: inline-block; }

.interested
{
	background-color: var(--orange);
	background-image: url('../images/orange-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
}

footer
{
	background-color: var(--dark-green);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 2rem;
}

.footer-content
{
	width: 90%;
	margin: 0 auto;
}

nav ul
{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: start;
	padding-top: 1rem;
	border-top: 3px solid var(--lime-green);
}

footer ul.social, footer ul.resources
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;
	padding: 1rem 0;
	border-top: 1px solid var(--lime-green);
}

footer ul.social li { }

.footer-copyright
{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	padding-top: 1rem;
	border-top: 1px solid var(--lime-green);
}

.footer-copyright div
{
	margin-right: 1rem;
	margin-top: 1rem;
}

.main-jobs, .main-fieldwork, .main-thanks, .main-portfolio-reqs-page, .main-hardware
{
	width: 90%;
	margin: 0 auto 1rem auto;
}

.content-box
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: 1.5rem;
	padding: 1rem;
	margin-bottom: 1rem;
	border: solid 1px #D6D6D6;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.content-box .graphic-box
{
	display: flex;
	width: 25%;
	object-position: center;
}

.content-box .graphic-box svg
{
	display: block;
	height: auto;
	object-fit: cover;
}

.content-box .text-box
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	max-width: 40rem;
	text-align: center;
}

@media (min-width: 576px)
{
	.masthead { flex-direction: row; }
	
	.masthead-content
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 90%;
	}
	
	.grads ol { grid-template-columns: repeat(2, 1fr); }
	
	.sample-work-grid-container
	{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, auto);
	}
	
	.curriculum div { grid-template-columns: repeat(2, 1fr); }
	.faculty ul.person { grid-template-columns: repeat(2, 1fr); }
	nav ul { grid-template-columns: 1fr 1fr; }
	
	.content-box
	{
		flex-direction: row;
		align-items: flex-start;
		text-align: left;
	}
	
	.content-box .graphic-box
	{
		display: flex;
		width: 25%;
		object-position: center;
	}
	
	.content-box .graphic-box svg
	{
		display: block;
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	
	.content-box .text-box
	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		max-width: 40rem;
		text-align: left;
	}
}

@media (min-width: 768px)
{
	.banner { justify-content: center; }
	.banner-content { width: 90vw; }
	
	.satisfaction
	{
		display: block;
		max-width: 70%;
	}
	
	.grads ol { grid-template-columns: repeat(4, 1fr); }
	
	.sample-work-grid-container
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
	}
	
	.rgd { }
	
	.rgd-content
	{
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}
	
	.rgd-text
	{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		text-align: left;
	}
	
	.portfolio-reqs-content
	{
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}
	
	.portfolio-reqs-text
	{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		text-align: left;
	}
	
	.portfolio-reqs-logo
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
		max-width: 260px;
		width: 100%;
	}
	
	.portfolio-reqs-logo svg
	{
		display: block;
		width: 150px;
		height: auto;
	}
	
	footer ul.social, footer ul.resources { justify-content: space-between; }
	nav ul { grid-template-columns: repeat(3, 1fr); }
	
	/* Grid of portfolio pieces on requirements page */
	.portfolio-reqs-pieces
	{
		grid-template-columns: repeat(2, 1fr);
		max-width: 90vw;
		margin-inline: auto;
	}
	
	.portfolio-reqs-questions ul
	{
		display: flex;
		flex-direction: row;
	}
}

@media (min-width: 1280px)
{
	.grads ol { grid-template-columns: repeat(4, 1fr); }
	
	.sample-work-grid-container
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
	}
	
	/* Grid of portfolio pieces on requirements page */
	.portfolio-reqs-pieces
	{
		grid-template-columns: repeat(3, 1fr);
		max-width: 90vw;
	}
	
	.curriculum div { grid-template-columns: repeat(3, 1fr); }
	.faculty ul.person { grid-template-columns: repeat(3, 1fr); }
	
	.portfolio-reqs-logo svg
	{
		width: 200px;
		height: auto;
	}
	
	nav ul { grid-template-columns: repeat(4, 1fr); }
}
