.media-block {
  background-color: #fff;
  color: var(--color-text);
}

.media-block ::selection {
  background-color: #333;
  color: #fff;
}

.media-block-img {
  min-height: 14em;
  background-color: var(--color-grey-light);
  background-size: cover;
  background-position: center top;
}

.testimonial-img {
  background-position: center top;
}

@media only screen and (min-width: 38em) {

  .media-block {
    border-radius: var(--border-radius);
    box-shadow: 0 0 1.4em rgba(0, 0, 0, .08);
  }

  .media-block-img {
    max-height: none;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }

  .testimonials-wrap {
    bottom: -2em;
    position: relative;
  }

  .testimonials {
    box-shadow: 0 -.2em 1.4em rgba(0, 0, 0, .3);
  }

  .testimonials-wrap::after {
    bottom: -.9em;
    content: " ";
    left: 0;
    height: 3em;
    position: absolute;
    width: 100%;
    z-index: 1;

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 40%);
  }

  .news-learn-more {
    padding-top: 0;
  }

}

@media only screen and (max-width: 38em) {

  .media-block-wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .testimonials-wrap {
    margin-bottom: 0;
  }

}
