.stats {
  color: #444;
}

.stats-group {
  position: relative;
}

.stats-list {
  padding-left: 32px;
}

.stats-list-small {
  padding-left: 24px;
}

.stats-list > li {
  position: relative;
}

.stats-icon {
  position: absolute;
  left: -32px;
  top: .35em;
}

.stats-icon-small {
  left: -24px;
  top: .3em;
}

.stats-icon svg {
  stroke: var(--color-green-light);
}

@media only screen and (min-width: 38em) {

  .stats-m-columns > li {
    float: left;
    width: 46%;
  }

  .stats-m-columns > li:nth-child(odd) {
    margin-right: 6%;
  }

}

@media only screen and (min-width: 60em) {

  .stats-m-columns > li {
    float: none;
    width: 100%;
  }

  .stats-m-columns > li:nth-child(odd) {
    margin-right: 0;
  }

}

@media only screen and (min-width: 70em) {

  .stats-group::after,
  .stats-group:first-child::before {
    content: " ";
    height: 30%;
    position: absolute;
    right: -3px;
    top: 35%;

    border-right: 3px solid var(--color-grey-light);
    transform: rotate(2deg);
  }

  .stats-group:nth-child(odd)::after {
    transform: rotate(-2deg);
  }

  .stats-group:first-child::before {
    left: -3px;
    right: auto;
  }

}
