.student-work {

}

.student-work a:focus {
  outline: none;
}

.focus-rings polygon {
  visibility: hidden;
}

.student-work a:nth-of-type(1):focus ~ .focus-rings polygon:nth-child(1),
.student-work a:nth-of-type(2):focus ~ .focus-rings polygon:nth-child(2),
.student-work a:nth-of-type(3):focus ~ .focus-rings polygon:nth-child(3),
.student-work a:nth-of-type(4):focus ~ .focus-rings polygon:nth-child(4),
.student-work a:nth-of-type(5):focus ~ .focus-rings polygon:nth-child(5),
.student-work a:nth-of-type(6):focus ~ .focus-rings polygon:nth-child(6),
.student-work a:nth-of-type(7):focus ~ .focus-rings polygon:nth-child(7),
.student-work a:nth-of-type(8):focus ~ .focus-rings polygon:nth-child(8) {
  visibility: visible;
}

.portfolio-requirements-example {
  border: 1px solid #e2e2e2;
}

ul.col-masonry {
  list-style-type: none;
  column-count: 2;
  column-gap: 2%;
  padding-left: 0;
}

ul.col-masonry li {
  margin-bottom: .65em;
}

ul.col-masonry li::before {
  content: "";
}

@media only screen and (min-width: 38em) {
  ul.col-masonry {
    column-count: 3;
  }
}

.box-shadow-lg img {
  box-shadow: 4px 4px 10px 4px #f2f2f2;
}

.portfolio-requirements img {
  width: 100%;
}
