:root {
  --color-text: #333;
  --color-green-dark: #00673e;
  --color-green-light: #94c947;
  --color-turquoise: #00675a;
  --color-blue-light: #009aa6;
  --color-blue-dark: #007096;
  --color-orange: #eaab00;
  --color-grey: #63666a;
  --color-grey-light: #e2e2e2;

  --font-primary: "Merriweather", Georgia, serif;
  --font-primary-fallback: Georgia, serif;
  --font-secondary: "Open Sans", Helvetica, sans-serif;
  --font-secondary-fallback: sans-serif;

  --border-radius: 4px;
}

html {
  font-family: var(--font-primary-fallback);
  color: var(--color-text);
}

html,
body {
  overflow-x: hidden;
}

.fonts-loaded {
  font-family: var(--font-primary);
}

::selection {
  background-color: var(--color-blue-light);
  color: #fff;
}

.font-primary {
  font-family: var(--font-primary-fallback);
}

.fonts-loaded.font-primary {
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-secondary {
  font-family: var(--font-secondary-fallback);
}

.fonts-loaded h1,
.fonts-loaded h2,
.fonts-loaded h3,
.fonts-loaded h4,
.fonts-loaded h5,
.fonts-loaded h6,
.fonts-loaded .font-secondary {
  font-family: var(--font-secondary);
}

.max-length-narrow {
  margin-left: auto;
  margin-right: auto;
  max-width: 28em;
}

a,
.link-box-text {
  border-bottom: .1em solid rgba(0, 154, 166, .4);

  color: var(--color-blue-light);
  text-decoration: none;
}

a:hover,
a:focus,
a:active,
.link-box:hover .link-box-text,
.link-box:focus .link-box-text,
.link-box:active .link-box-text {
  border-color: var(--color-blue-light);
}

.show-on-medium {
  display: none;
}

.icon-link {
  border: 0;
}

.icon-link .icon-label {
  border-bottom: .1em solid rgba(0, 154, 166, .4);
}

.icon-link:hover .icon-label,
.icon-link:focus .icon-label,
.icon-link:active .icon-label {
  border-color: var(--color-blue-light);
}

.link-box {
  border-bottom: 0;
}

abbr[title="and"] {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
  text-decoration: none;
}

.color-green-dark {
  color: var(--color-green-dark);
}

.bg-green-dark {
  background-color: var(--color-green-dark);
  color: #fff;
}

.bg-green-dark a:not(.btn) {
  color: #fff;
  border-color: rgba(255, 255, 255, .5);
}

.bg-green-dark a:not(.btn):hover,
.bg-green-dark a:not(.btn):focus,
.bg-green-dark a:not(.btn):active {
  color: #fff;
  border-color: #fff;
}

.bg-green-dark .icon-link .icon-label {
  border-color: rgba(255, 255, 255, .5);
}

.bg-green-dark .icon-link:hover .icon-label,
.bg-green-dark .icon-link:focus .icon-label,
.bg-green-dark .icon-link:active .icon-label {
  border-color: #fff;
}

.bg-green-dark .link-green-light {
  color: var(--color-green-light);
  border-color: rgba(148, 201, 71, .7);
}

.bg-green-dark hr {
  border-color: var(--color-green-light);
}

.bg-green-dark ::selection {
  background-color: var(--color-green-light);
  color: #fff;
}

.bg-green-light {
  background-color: var(--color-green-light);
}

.bg-green-light-texture {
  background-image: url("../images/green-light-bg.png");
}

.bg-green-light a:not(.btn) {
  color: var(--color-green-dark);
  border-color: rgba(0, 103, 62, .5);
}

.bg-green-light ::selection {
  background-color: var(--color-green-dark);
  color: #fff;
}

.bg-green-light a:not(.btn):hover,
.bg-green-light a:not(.btn):focus,
.bg-green-light a:not(.btn):active {
  color: #000;
  border-color: #000;
}

.bg-grey {
  background-color: var(--color-grey);
  color: #fff;
}

.bg-grey ::selection {
  background-color: #111;
  color: #fff;
}

.bg-grey a {
  color: #fff;
  border-color: rgba(255, 255, 255, .5);
}

.bg-grey a:hover {
  border-color: #fff;
}

.bg-grey-texture {
  background-image: url("../images/grey-dark-bg.png");
  background-size: 8px 8px;
}

.bg-grey-light {
  background-color: var(--color-grey-light);
}

.bg-grey-light-texture {
  background-image: url("../images/grey-bg.png");
  background-size: 8px 8px;
}

.bg-grey-light-alt {
  background-color: #f2f2f2;
}

.bg-grey-light-alt ::selection {
  background-color: var(--color-blue-light);
  color: #fff;
}

.bg-grey-light-texture-alt {
  background-image: url("../images/grey-bg-alt.png");
  background-size: 200px 100px;
}

.bg-white {
  background-color: #fff;
}

.bg-orange {
  background-color: var(--color-orange);
  color: #fff;
}

.bg-orange ::selection {
  background-color: #333;
  color: #fff;
}

.bg-orange-texture {
  background-image: url("../images/orange-bg.png");
}

.bg-orange a {
  color: #fff;
  border-color: rgba(255, 255, 255, .5);
}

.bg-orange a:hover {
  border-color: #fff;
}

.bg-blue-light {
  background-color: var(--color-blue-light);
  color: #fff;
}

.bg-blue-light ::selection {
  background-color: #e2e2e2;
  color: #333;
}

.btn {
  background-color: var(--color-green-dark);
  border-color: var(--color-green-dark);
  color: #fff;
}

.btn-blue-light {
  background-color: var(--color-blue-light);
  border-color: var(--color-blue-light);
  color: #fff;
}

.btn-orange {
  background-color: var(--color-orange);
  border-color: var(--color-orange);
}

.btn-pill {
  padding-left: 1.5em;
  padding-right: 1.5em;

  border-radius: 50em;
}

.embed-slant {
  padding-top: 5%;
}

svg.embed-item {
  height: 100%;
}

.list-group-spaced {

}

.bullet-sep-list > li,
.list-group-spaced > li {
  display: inline-block;
}

.bullet-sep-list > li::after,
.list-group-spaced > li::after {
  content: "•";
  opacity: .5;
}

.bullet-sep-list > li:last-child::after,
.list-group-spaced > li:last-child::after {
  content: none;
  display: none;
}

.list-group-columns {

}

.curriculum-icon svg {
  stroke: #999;
  fill: #999;
}

.banner-icon svg {
  stroke: currentcolor;
}

.portfolio-icon svg {
  stroke: #999;
}

.rgd-link {
  color: #ed1d24;
  border-color: rgba(237, 29, 36, .4);
}

.rgd-link:hover,
.rgd-link:focus,
.rgd-link:active {
  border-color: #ed1d24;
}

.rgd ::selection {
  background-color: #ed1d24;
  color: #fff;
}

.hr-muted {
  border-color: var(--color-grey-light);
}

@media only screen and (min-width: 38em) {

  .list-group-columns {
    columns: 2;
  }

  .show-on-medium {
    display: inline-block;
  }

  .col-pad-l-m {
    padding-left: 2em;
  }

  .col-pad-r-m {
    padding-right: 2em;
  }

}

@media only screen and (min-width: 60em) {

  .list-group-columns {
    columns: 3;
  }

  .list-group-spaced {
    display: flex;
    justify-content: space-between;
  }

  .list-group-spaced > li::after {
    content: none;
    display: none;
  }

  .portfolio-icon {
    position: relative;
    top: -2.4em;
  }

}

@media only screen and (max-width: 70em) {

  .gutter-only-on-large {
    padding-left: 0;
    padding-right: 0;
  }

}
