:root {
  --color-text: #333;
  --color-green-dark: #00673e;
  --color-green-light: #94c947;
  --color-turquoise: #00675a;
  --color-blue-light: #009aa6;
  --color-blue-dark: #007096;
  --color-orange: #eaab00;
  --color-grey: #63666a;
  --color-grey-light: #e2e2e2;

  --font-primary: "Merriweather", Georgia, serif;
  --font-secondary: "Open Sans", Helvetica, sans-serif;

  --border-radius: 4px;
}

html {
  font-family: var(--font-primary);
  color: var(--color-text);
}

.font-primary {
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-secondary {
  font-family: var(--font-secondary);
}

a,
.link-box-text {
  border-bottom: .1em solid rgba(0, 154, 166, .4);

  color: var(--color-blue-light);
  text-decoration: none;
}

a:hover,
a:focus,
a:active,
.link-box:hover .link-box-text,
.link-box:focus .link-box-text,
.link-box:active .link-box-text {
  border-color: var(--color-blue-light);
}

.link-box {
  border-bottom: 0;
}

abbr[title="and"] {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
  text-decoration: none;
}

.bg-green-dark {
  background-color: var(--color-green-dark);
  color: #fff;
}

.bg-green-dark a {
  color: var(--color-green-light);
  border-color: rgba(148, 201, 71, .7);
}

.bg-green-dark a:hover,
.bg-green-dark a:focus,
.bg-green-dark a:active {
  color: #fff;
  border-color: #fff;
}

.bg-green-light {
  background-color: var(--color-green-light);
}

.bg-green-light-texture {
  background-image: url("../images/green-light-bg.png");
}

.bg-grey-light {
  background-color: var(--color-grey-light);
}

.bg-grey-texture {
  background-image: url("../images/grey-bg.png");
  background-size: 8px 8px;
}

.bg-grey-texture-alt {
  background-image: url("../images/grey-bg-alt.png");
  background-size: 200px 100px;
}

.bg-white {
  background-color: #fff;
}

.bg-orange {
  background-color: var(--color-orange);
  color: #fff;
}

.bg-orange-texture {
  background-image: url("../images/orange-bg.png");
}

.bg-blue-light {
  background-color: var(--color-blue-light);
  color: #fff;
}

.btn {
  background-color: var(--color-green-dark);
  border-color: var(--color-green-dark);
}

.btn-pill {
  padding-left: 1.5em;
  padding-right: 1.5em;

  border-radius: 50em;
}

.bullet-sep-list > li::after {
  content: "•";
  opacity: .5;
}

.bullet-sep-list > li:last-child::after {
  content: none;
  display: none;
}

.rgd-link {
  color: #ed1d24;
  border-color: rgba(237, 29, 36, .4);
}

.rgd-link:hover,
.rgd-link:focus,
.rgd-link:active {
  border-color: #ed1d24;
}

@media only screen and (max-width: 70em) {

  .gutter-only-on-large {
    padding-left: 0;
    padding-right: 0;
  }

}
