---
layout: default
title: "Fieldwork · Algonquin Design"
desc: "Our fieldwork program initiates our students to the professional practice of graphic design in a safe, stimulating and productive workplace."
main_title: "Fieldwork"
main_desc: "Our fieldwork program initiates our students to the professional practice of graphic design in a safe, stimulating and productive workplace."
---

<ul class="skip-links">
  <li><a href="#intro">Jump to introduction</a></li>
  <li><a href="#main">Jump to main content</a></li>
</ul>

{% include icons.html %}
{% include masthead.html %}

<main role="main" id="main">
  {% include banner-inside.html %}

  <div class="wrapper gutter-1-2 pad-t pad-b">
    <h2 class="exa">Graphic Design Fieldwork</h2>
    <p class="mega"><em>The Graphic Design fieldwork program at Algonquin College is proud to partner with creative agencies in Canada's National Capital Region and around the world. The goal of our fieldwork program is to initiate our students to the professional practice of graphic design in a safe, stimulating and productive workplace.</em></p>

    <h2>Fieldwork Highlights</h2>
    <ul>
      <li>Students work as designers at your place of business for six weeks.</li>
      <li>The start date is March 18, until April 27, 2018.</li>
      <li>Students are expected to work similar hours as other employees.</li>
      <li>We expect our students to honour the confidentiality of your business.</li>
    </ul>

    <h2>What we need from you</h2>
    <ul>
      <li>Perform a thorough interview of candidates.</li>
      <li>Submit a short online rating of the student's performance during that interview.</li>
      <li>Provide supervision during the fieldwork.</li>
      <li>Provide a productive and safe work environment for our students.</li>
      <li>Complete a short report on the student's performance during their fieldwork.</li>
    </ul>

    <hr>

    <p class="mega"><strong>We recognize that hosting a student intern represents an added responsibility for your company. Our faculty is grateful to all of you who choose to ensure a healthy future for our industry by nurturing budding practitioners in the field of graphic design.<br>Thank you!</strong></p>
    <p class="mega"><em>Questions? Contact Alain Paradis <a href="mailto:paradia@algonquincollege.com">paradia@algonquincollege.com</a></em></p>
  </div>

</main>

{% include footer.html %}
