---
---
<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{site.data.metadata.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/theme.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/masthead.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/media-block.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/banner.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/stats.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/cards.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/video.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/student-work.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Open+Sans:400,700" rel="stylesheet">
  {% include metadata.html %}
</head>
<body>

  {% include skip-links.html %}
  {% include icons.html %}
  {% include masthead.html %}

  <main role="main">
    {% include banner.html %}
    {% include stats.html %}
    {% unless site.data.news.disabled %}
      {% include news.html %}
    {% endunless %}
    {% include video.html %}
    {% include sample-work.html %}
    {% include curriculum.html %}
    {% include faculty.html %}
    {% include grads.html %}
    {% include rgd.html %}
    {% include portfolio-reqs.html %}
    {% include interested.html %}
  </main>

  {% include footer.html %}

  <script id="testimonial-template" type="text/x-template">{% include testimonial-template.html %}</script>
  <script id="testimonial-buttons" type="text/x-template">{% include testimonial-buttons-template.html %}</script>
  <script>
    var imgUrlBase = '{{site.baseurl}}/images/testimonials/';
    var testimonials = {{site.data.testimonials | jsonify}};
  </script>
  <script src="{{site.baseurl}}/js/shuffle.js"></script>
  <script src="{{site.baseurl}}/js/testimonials.js"></script>
  <script src="{{site.baseurl}}/js/video.js"></script>

  <script type="application/ld+json">{% include sample-work.json slot="slot-1" %}</script>
  <script type="application/ld+json">{% include sample-work.json slot="slot-2" %}</script>
  <script type="application/ld+json">{% include sample-work.json slot="slot-3" %}</script>
  <script type="application/ld+json">{% include sample-work.json slot="slot-4" %}</script>
  <script type="application/ld+json">{% include sample-work.json slot="slot-5" %}</script>
  <script type="application/ld+json">{% include sample-work.json slot="slot-6" %}</script>
</body>
</html>
