---
---
<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{site.data.metadata.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/algonquindesign.min.css" rel="stylesheet">
  <link href="{{site.baseurl}}/fonts/merriweather-bold.woff2" rel="preload" as="font">
  <link href="{{site.baseurl}}/fonts/merriweather-italic.woff2" rel="preload" as="font">
  <link href="{{site.baseurl}}/fonts/merriweather-regular.woff2" rel="preload" as="font">
  <link href="{{site.baseurl}}/fonts/opensans-bold.woff2" rel="preload" as="font">
  <link href="{{site.baseurl}}/fonts/opensans-regular.woff2" rel="preload" as="font">
  {% include metadata.html %}
</head>
<body>

  {% include skip-links.html %}
  {% include icons.html %}
  {% include masthead.html %}

  <main role="main">
    {% include banner.html %}
    {% include stats.html %}
    {% unless site.data.news.disabled %}
      {% include news.html %}
    {% endunless %}
    {% include video.html %}
    {% include sample-work.html %}
    {% include curriculum.html %}
    {% include faculty.html %}
    {% include grads.html %}
    {% include rgd.html %}
    {% include portfolio-reqs.html %}
    {% include interested.html %}
  </main>

  {% include footer.html %}

  <script>
    {% include_relative js/fontfaceobserver.min.js %}
    {% include_relative js/fonts.min.js %}
  </script>

  <script id="testimonial-template" type="text/x-template">{% include testimonial-template.html %}</script>
  <script id="testimonial-buttons" type="text/x-template">{% include testimonial-buttons-template.html %}</script>
  <script>
    var imgUrlBase = '{{site.baseurl}}/images/testimonials/';
    var testimonials = {{site.data.testimonials | jsonify}};
  </script>
  <script src="{{site.baseurl}}/js/algonquindesign.min.js"></script>

  <script type="application/ld+json">{% include metadata.json %}</script>
  <script type="application/ld+json">{% include faculty.json %}</script>
  <script type="application/ld+json">{% include sample-work.json %}</script>
  <script type="application/ld+json">{% include grads.json %}</script>
</body>
</html>
