---
layout: default
---

<ul class="skip-links">
  <li><a href="#testimonials">Jump to {{site.data.banner.testimonials_title}}</a></li>
  <li><a href="#design-for-you">Jump to {{site.data.stats.foryou.title | replace: ':', ''}}</a></li>
  <li><a href="#career-opportunities">Jump to {{site.data.stats.career.title}}</a></li>
  <li><a href="#program-highlights">Jump to {{site.data.stats.highlights.title}}</a></li>
  <li><a href="#news">Jump to {{site.data.news.section_title}}</a></li>
  <li><a href="#hear-from-grads">Jump to {{site.data.video.title}}</a></li>
  <li><a href="#student-work-samples">Jump to {{site.data.sample-work.title}}</a></li>
  <li><a href="#curriculum">Jump to {{site.data.curriculum.title}}</a></li>
  <li><a href="#faculty">Jump to {{site.data.faculty.title}}</a></li>
  <li><a href="#grad-shows">Jump to {{site.data.grads.title}}</a></li>
  <li><a href="#portfolio-requirements">Jump to {{site.data.portfolio.title}}</a></li>
  <li><a href="#apply-now">Jump to {{site.data.interested.title}}</a></li>
</ul>

{% include icons.html %}
{% include masthead.html %}

<main role="main">
  {% include banner.html %}
  {% include stats.html %}
  {% unless site.data.news.disabled %}
    {% include news.html %}
  {% endunless %}
  {% include video.html %}
  {% include sample-work.html %}
  {% include curriculum.html %}
  {% include faculty.html %}
  {% include grads.html %}
  {% include rgd.html %}
  {% include portfolio-reqs.html %}
  {% include interested.html %}
</main>

{% include footer.html %}
