---
layout: default
title: "Portfolio Requirements · Algonquin Design"
desc: "See what’s needed—and how to excel—when applying to the Algonquin Graphic Design program with your portfolio."
main_title: "Portfolio requirements"
main_desc: "See what’s needed—and how to excel—when applying to the Algonquin Graphic Design program with your portfolio."
---

<ul class="skip-links">
  <li><a href="#intro">Jump to introduction</a></li>
  <li><a href="#main">Jump to main content</a></li>
  <li><a href="#drawing-test">Jump to drawing test</a></li>
  <li><a href="#layout-test">Jump to layout test</a></li>
  <li><a href="#layout-test">Jump to creative works</a></li>
  <li><a href="#submission">Jump to portfolio submission</a></li>
</ul>

{% include icons.html %}
{% include masthead.html %}

<main role="main" id="main">
  {% include banner-inside.html class='main-title-portfolio' %}

  <header class="wrapper gutter-1-2 pad-t">
    <h2 class="yotta color-green-dark pad-t-1-2" id="intro">Why a portfolio?</h2>
    <p class="tera italic">Portfolios are an extremely important part of the Graphic Design field.</p>
    <p class="giga">Submitting portfolios is something we do professionally when trying to get jobs—not just part of the school application.</p>
    <p class="mega push-2">Portfolios, whether for a job or for school, showcase your ability to work within constraints; illustrate your process; feature your problem solving aptitude, your communication skills, and your creativity — not only your raw talent. They help us, and employers, determine if you are the right fit &amp; can accomplish the work we expect.</p>
    <hr class="hr-muted">
  </header>

  <section class="grid wrapper gutter-1-4 pad-t">
    <div class="unit [ xs-1 s-1 m-2-3 ] gutter-1-4">

      <h2 class="exa" id="main">Portfolio submission</h2>
      <p class="mega"><strong>As part of the application process for the Graphic Design program, you are required to submit the following items:</strong></p>
      <ul class="list-group">
        <li class="max-length-narrow not-centered">
          <span class="yotta bold color-green-dark">1.</span><br>
          <a class="mega bold ib push-1-2" href="#drawing-test">Drawing test</a>
          <p>Draw a self-portrait in pencil that shows off your attention to detail, your style, your cleanliness and your ability to follow instructions.</p>
        </li>
        <li class="max-length-narrow not-centered">
          <span class="yotta bold color-green-dark">2.</span><br>
          <a class="mega bold ib push-1-2" href="#layout-test">Layout test</a>
          <p>Redesign a jewellery store advert showing us your creativity, your communication skills and your ability to work within constraints.</p>
        </li>
        <li class="max-length-narrow not-centered">
          <span class="yotta bold color-green-dark">3.</span><br>
          <a class="mega bold ib push-1-2" href="#creative-works">10–15 creative works</a>
          <p>Demonstrate what you can do with samples of your absolute best work: layout, typography, painting, drawing, web design, interface design and sketches.</p>
        </li>
      </ul>
    </div>
    <div class="unit [ xs-1 s-1 m-1-3 ] gutter-1-4 pad-t-1-4">
      <h3 class="color-green-dark">Due June 15th<br><em class="not-bold">or until program is full</em></h3>
      <p class="micro push-0">Deliver completed portfolios to:</p>
      <address class="push-1-4">
        Algonquin College
        <br>Graphic Design Department
        <br>Room N215, 1385 Woodroffe Ave.
        <br>Ottawa, ON, K2G 1V8
      </address>
      <em class="push-1-4 ib micro">or</em>
      <p class="push"><a href="mailto:design@algonquindesign.ca?subject=Graphic%20Design%20Portfolio&amp;body=Name:%20%0D%0AEmail:%20%0D%0ATel:%20%0D%0AStudent%20Number:%20%0D%0A">Email a PDF to design@algonquindesign.ca</a><br><span class="micro italic">More details below.</span></p>
      <h3>Important notes</h3>
      <ul class="milli">
        <li class="push-1-2"><strong>Plagiarism is not tolerated!</strong> Applicants who have submitted work which is not their own will not be accepted to the program.</li>
        <li class="push-1-2">Please supply photographs or photocopies or your originals.</li>
        <li class="push-1-2">If you submit work that was part of a collaboration, indicate what part you played in the process.</li>
        <li>Portfolios will be returned to you if requested. You can pick it up at room N215.</li>
      </ul>
    </div>
  </section>

  <div class="pad-t-2 pad-b-2">
    <aside class="media-block-wrap gutter-1-2">
      <div class="media-block wrapper grid grid-stretch">
        <div class="media-block-img media-block-img-contain unit [ xs-1 s-1-4 ] unit-content-distribute" style="background-image:url({{site.baseurl}}/images/jobs/ac-graphic-design.svg);background-color:#00673e;">
          <span class="content-stretch ir link-box">Learn more about Graphic Design</span>
        </div>
        <div class="media-block-text unit [ xs-1 s-3-4 ] gutter pad-t pad-b unit-content-distribute">
          <div class="grid grid-middle content-stretch">
            <div class="unit [ xs-1 m-2-3 ] unit-content-distribute">
              <div class="content-stretch center-contents-vertical-start">
                <h2 class="giga push-1-2"><span tabindex="0" id="news">Terms &amp; concepts</span></h2>
                <p class="block push-1-2 mega italic">There’s a lot of jargon and terminology in Graphic Design—like all professions.</p>
                <p class="push-0">If you are unfamiliar with some of the terminology, a few hours of research online or in paper will help.</p>
              </div>
            </div>
            <div class="news-learn-more unit [ xs-1 m-1-3 ] unit-content-distribute pad-t">
              <div class="content-stretch center-content milli">
                <ul class="list-group push-0">
                  <li>
                    <a class="relative" href="https://en.wikipedia.org/wiki/Graphic_design" rel="external">
                      <span class="icon-label push-r-1-2">Wikipedia</span>
                      <i class="icon i-16 absolute pin-rc"><svg><use xlink:href="#arrow"></use></svg></i>
                    </a>
                  </li>
                  <li>
                    <a class="relative" href="https://www.appliedartsmag.com/" rel="external">
                      <span class="icon-label push-r-1-2">Applied Arts</span>
                      <i class="icon i-16 absolute pin-rc"><svg><use xlink:href="#arrow"></use></svg></i>
                    </a>
                  </li>
                  <li>
                    <a class="relative" href="https://www.commarts.com/" rel="external">
                      <span class="icon-label push-r-1-2">Communication Arts</span>
                      <i class="icon i-16 absolute pin-rc"><svg><use xlink:href="#arrow"></use></svg></i>
                    </a>
                  </li>
                  <li>
                    <a class="relative" href="https://www.smashingmagazine.com/" rel="external">
                      <span class="icon-label push-r-1-2">Smashing Magazine</span>
                      <i class="icon i-16 absolute pin-rc"><svg><use xlink:href="#arrow"></use></svg></i>
                    </a>
                  </li>
                  <li>
                    <a class="relative" href="https://www.fastcodesign.com/" rel="external">
                      <span class="icon-label push-r-1-2">Fast Co. Design</span>
                      <i class="icon i-16 absolute pin-rc"><svg><use xlink:href="#arrow"></use></svg></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>

  <section class="text-center bg-grey bg-grey-texture pad-b">
    <div class="embed embed-slant push" aria-hidden="true" role="presentation">
      <svg class="embed-item" width="1600" height="80" viewBox="0 0 1600 80">
        <rect fill="#fff" width="1629.8" height="187.41" x="-16.1" y="-146.8" transform="rotate(2 797.48 -51.983)"/>
      </svg>
    </div>
    <header class="gutter-1-2 push">
      <h2 class="yotta"><span tabindex="0" id="drawing-test">Drawing test</span></h2>
      <p class="mega max-length push-0">Demonstrate your attention to detail, pencil control, style &amp; cleanliness by drawing a pencil-only self-portrait.</p>
    </header>
    <div class="grid grid-middle text-left wrapper gutter-1-4 push">
      <div class="unit [ xs-1 s-1 m-2-3 ] gutter-1-4 col-pad-r-m">
        <ul class="milli">
          <li>Draw a 6″ × 9″ self-portrait centered on an 8.5″ × 11″ piece of #27 (smooth) white illustration board.<br>(If you purchase the <a href="https://www.bookstore.algonquincollege.com/Item?item=88880042938&amp;data=Portfolio" rel="external">Portfolio Kit</a> it will be 10″ × 15″.)</li>
          <li>Render your portrait in pencil. Attention to detail, style and cleanliness are very important.</li>
          <li>Tape a recent photo of yourself to the back of the board.</li>
        </ul>
      </div>
      <div class="unit [ xs-1 s-1 m-1-3 ]">
        <img class="img-flex" src="/images/portfolio-kit.jpg" alt="">
      </div>
    </div>
    <p class="max-length text-center push-0">Below are some examples, some good & some bad, of self-portraits in varying styles.</p>
    <div class="grid gutter-1-4 pad-t">
      <div class="unit [ xs-1 m-1-3 ] gutter-1-4 push-1-2">
        <figure class="push-0">
          <div class="embed embed-2by3">
            <img class="embed-item" src="/images/drawing-test/heather.jpg" alt="">
            <span class="color-alert-green absolute pin-lb island-1-2" title="This self-portrait is acceptable" aria-label="This self-portrait is acceptable"><i class="icon i-32" role="presentation"><svg><use xlink:href="#icon-check"></use></svg></i></span>
          </div>
          <figcaption class="micro italic pad-t-1-4 pad-b-1-2">Highly detailed &amp; realistic</figcaption>
        </figure>
      </div>
      <div class="unit [ xs-1-2 m-1-3 ] gutter-1-4 push-1-2">
        <figure class="push-0">
          <div class="embed embed-2by3">
            <img class="embed-item" src="/images/drawing-test/shannon.jpg" alt="">
            <span class="color-alert-green absolute pin-lb island-1-2" title="This self-portrait is acceptable" aria-label="This self-portrait is acceptable"><i class="icon i-32" role="presentation"><svg><use xlink:href="#icon-check"></use></svg></i></span>
          </div>
          <figcaption class="micro italic pad-t-1-4 pad-b-1-2">Good proportions &amp; shading techniques</figcaption>
        </figure>
      </div>
      <div class="unit [ xs-1-2 m-1-3 ] gutter-1-4 push-1-2">
        <figure class="push-0">
          <div class="embed embed-2by3">
            <img class="embed-item" src="/images/drawing-test/cassandra.jpg" alt="">
            <span class="color-alert-green absolute pin-lb island-1-2" title="This self-portrait is acceptable" aria-label="This self-portrait is acceptable"><i class="icon i-32" role="presentation"><svg><use xlink:href="#icon-check"></use></svg></i></span>
          </div>
          <figcaption class="micro italic pad-t-1-4 pad-b-1-2">Interesting cropping of the figure</figcaption>
        </figure>
      </div>
      <div class="unit [ xs-1-2 m-1-3 ] gutter-1-4 push-1-2">
        <figure class="push-0">
          <div class="embed embed-2by3">
            <img class="embed-item" src="/images/drawing-test/rebecca.jpg" alt="">
            <span class="color-alert-green absolute pin-lb island-1-2" title="This self-portrait is acceptable" aria-label="This self-portrait is acceptable"><i class="icon i-32" role="presentation"><svg><use xlink:href="#icon-check"></use></svg></i></span>
          </div>
          <figcaption class="micro italic pad-t-1-4 pad-b-1-2">Interesting use of strong lines with shading</figcaption>
        </figure>
      </div>
      <div class="unit [ xs-1-2 m-1-3 ] gutter-1-4 push-1-2">
        <figure class="push-0">
          <div class="embed embed-2by3">
            <img class="embed-item" src="/images/drawing-test/samantha.jpg" alt="">
            <span class="color-alert-green absolute pin-lb island-1-2" title="This self-portrait is acceptable" aria-label="This self-portrait is acceptable"><i class="icon i-32" role="presentation"><svg><use xlink:href="#icon-check"></use></svg></i></span>
          </div>
          <figcaption class="micro italic pad-t-1-4 pad-b-1-2">High realism with good shading</figcaption>
        </figure>
      </div>
      <div class="unit [ xs-1-2 m-1-3 ] gutter-1-4 push-1-2">
        <figure class="push-0">
          <div class="embed embed-2by3">
            <img class="embed-item" src="/images/drawing-test/bryan.jpg" alt="">
            <span class="color-alert-green absolute pin-lb island-1-2" title="This self-portrait is acceptable" aria-label="This self-portrait is acceptable"><i class="icon i-32" role="presentation"><svg><use xlink:href="#icon-check"></use></svg></i></span>
          </div>
          <figcaption class="micro italic pad-t-1-4 pad-b-1-2">Well executed with stylistic flair</figcaption>
        </figure>
      </div>
      <div class="unit [ xs-1-2 m-1-3 ] gutter-1-4 push-1-2">
        <figure class="push-0">
          <div class="embed embed-2by3">
            <img class="embed-item" src="/images/drawing-test/adam.jpg" alt="">
            <span class="color-alert-green absolute pin-lb island-1-2" title="This self-portrait is acceptable" aria-label="This self-portrait is acceptable"><i class="icon i-32" role="presentation"><svg><use xlink:href="#icon-check"></use></svg></i></span>
          </div>
          <figcaption class="micro italic pad-t-1-4 pad-b-1-2">Visual interest with incomplete hair</figcaption>
        </figure>
      </div>
      <div class="unit [ xs-1-2 m-1-3 ] gutter-1-4 push-1-2">
        <figure class="push-0">
          <div class="embed embed-2by3">
            <img class="embed-item" src="/images/drawing-test/unacceptable1.jpg" alt="">
            <span class="color-alert-red absolute pin-lb island-1-2" title="This self-portrait would not be accepted" aria-label="This self-portrait would not be accepted"><i class="icon i-32" role="presentation"><svg><use xlink:href="#icon-x"></use></svg></i></span>
          </div>
          <figcaption class="micro italic pad-t-1-4 pad-b-1-2">Too simple, seems like a sketch</figcaption>
        </figure>
      </div>
      <div class="unit [ xs-1-2 m-1-3 ] gutter-1-4 push-1-2">
        <figure class="push-0">
          <div class="embed embed-2by3">
            <img class="embed-item" src="/images/drawing-test/unacceptable2.jpg" alt="">
            <span class="color-alert-red absolute pin-lb island-1-2" title="This self-portrait would not be accepted" aria-label="This self-portrait would not be accepted"><i class="icon i-32" role="presentation"><svg><use xlink:href="#icon-x"></use></svg></i></span>
          </div>
          <figcaption class="micro italic pad-t-1-4 pad-b-1-2">Poor proportions, very smudgy</figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section class="pad-t-2 push-1-2 text-center bg-grey-light-alt bg-grey-light-texture-alt">
    <header class="gutter-1-2 push">
      <h2 class="yotta"><span tabindex="0" id="layout-test">Layout test</span></h2>
      <p class="mega max-length push-0">Show off your creativity, your ability to organize content and your communication skills by redesigning a jewellery advertisement.</p>
    </header>
    <div class="grid grid-middle text-left wrapper gutter-1-4 pad-b">
      <div class="unit [ xs-1 s-1 m-2-3 ] unit-push-m-1-3 gutter-1-4 col-pad-l-m">
        <ul class="milli">
          <li>Select a jewellery advertisement from the yellow pages, newspaper, or from a magazine.</li>
          <li>In pencil, redesign and re-draw the ad to a new size of 6″ wide × 9″ high on an 8.5″ × 11″ piece of #27 (smooth) white illustration board.<br>If you purchase the <a href="https://www.bookstore.algonquincollege.com/Item?item=88880042938&data=Portfolio%20">Portfolio Kit</a> the illustration board will be 10″ × 15″. Just centre your 6″ × 9″ layout nicely on the larger board supplied in the kit.</li>
          <li>In your new layout, include all of the text, as well as the company logo from the original ad.</li>
          <li>If your ad has no image, draw any piece of jewellery (watch, ring, etc.) and include it within your newly designed ad.</li>
          <li>Tape a copy of the original paper advertisement to the back of your board.</li>
        </ul>
      </div>
      <div class="unit [ xs-1 s-1 m-1-3 ] unit-pull-m-2-3">
        <img class="img-flex" src="/images/portfolio-kit.jpg" alt="">
      </div>
    </div>
    <p class="max-length text-center">Below are some examples, some good & some bad, of redesigned jewellery adverts in varying styles.</p>
    <div class="grid gutter-1-4 pad-t">
      <div class="unit [ xs-1 m-1-3 ] gutter-1-4 push-1-2">
        <div class="embed embed-2by3">
          <img class="embed-item" src="/images/layout-test/kim.jpg" alt="">
        </div>
      </div>
      <div class="unit [ xs-1-2 m-1-3 ] gutter-1-4 push-1-2">
        <div class="embed embed-2by3">
          <img class="embed-item" src="/images/layout-test/birks.jpg" alt="">
        </div>
      </div>
      <div class="unit [ xs-1-2 m-1-3 ] gutter-1-4 push-1-2">
        <div class="embed embed-2by3">
          <img class="embed-item" src="/images/layout-test/zanders.jpg" alt="">
        </div>
      </div>
      <div class="unit [ xs-1 m-1-2 ] gutter-1-4 push-1-2">
        <div class="embed embed-3by2">
          <img class="embed-item" src="/images/layout-test/magpie.jpg" alt="">
        </div>
      </div>
      <div class="unit [ xs-1 m-1-2 ] gutter-1-4 push-1-2">
        <div class="embed embed-3by2">
          <img class="embed-item" src="/images/layout-test/van-cleef.jpg" alt="">
        </div>
      </div>
      <div class="unit [ xs-1-2 m-1-3 ] gutter-1-4 push-1-2">
        <div class="embed embed-2by3">
          <img class="embed-item" src="/images/layout-test/studio.jpg" alt="">
        </div>
      </div>
      <div class="unit [ xs-1-2 m-1-3 ] gutter-1-4 push-1-2">
        <div class="embed embed-2by3">
          <img class="embed-item" src="/images/layout-test/charles-groves.jpg" alt="">
        </div>
      </div>
      <div class="unit [ xs-1 m-1-3 ] gutter-1-4 push-1-2">
        <div class="embed embed-2by3">
          <img class="embed-item" src="/images/layout-test/ignite.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="embed embed-slant" aria-hidden="true" role="presentation">
      <svg class="embed-item" width="1600" height="80" viewBox="0 0 1600 80">
        <rect fill="#fff" width="1629.8" height="220.36" x="-9" y="40.5" transform="rotate(-2 805.388 151.596)"></rect>
      </svg>
    </div>
  </section>

  <section class="pad-t push text-center">
    <header class="gutter-1-2 push">
      <h2 class="yotta"><span tabindex="0" id="creative-works">Portfolio of work</span></h2>
      <p class="mega max-length push-0">Exhibit your skills &amp; talent in a series of works that demonstrate the best of your design abilities.</p>
    </header>
    <div class="grid text-left wrapper gutter-1-4">
      <div class="unit [ xs-1 s-1 m-2-3 ] gutter-1-4 col-pad-r-m">
        <p><strong>Be very critical of what you put in your portfolio. Only include pieces that you are very proud of.</strong></p>
        <p class="milli">We suggest including between 10 and 15 pieces in total. Quality, variety and presentation are important. If you don’t take care and pride in your portfolio, it will say a lot about you and your commitment to being accepted to the program.</p>
        <p class="milli"><em>You should explore and research all aspects of graphic design. You will discover that graphic design is a very broad field. Graphic designers do not only sit and draw all day long.</em></p>
        <p class="micro">Including only a large number of drawings in your portfolio will not sufficiently demonstrate your design abilities. Your self-portrait will showcase your drawing skills. If you have many drawings, go further by including them in your own advertisement design. <em>If you include many cartoons or animé pieces, maybe the <a href="http://www.algonquincollege.com/mediaanddesign/program/animation/">Animation program</a> would be a better fit for you.</em></p>
        <p class="milli">Consider including the redesign of an existing logo or package in your portfolio. If you do, include the original design.</p>
        <p class="milli"><em>Typography is a crucial and important part of graphic design. Any piece that incorporates type would stand out. Explore type shapes and possibilities in design. Create abstract images with type. Or layouts that incorporate your images and type.</em></p>
        <p><strong>You’re encouraged to come to Algonquin’s portfolio workshops where you can get feedback and direction.</strong></p>
      </div>
      <div class="unit [ xs-1 s-1 m-1-3 ] gutter-1-4">
        <h3 class="kilo">Things to include:</h3>
        <ul class="micro">
          <li>Layouts</li>
          <li>Typographic design</li>
          <li>Sketches!</li>
          <li>Logos &amp; packaging</li>
          <li>Website designs</li>
          <li>Interface designs</li>
          <li>Photography</li>
          <li>Paintings</li>
          <li>Illustrations</li>
        </ul>
        <h3 class="kilo">Mediums to include:</h3>
        <ul class="micro">
          <li>
            <strong>Hand-rendered</strong>
            <p>Hand drawings are great, but we’re mostly interested in the layout &amp; communication—the drawing skill is secondary.</p>
          </li>
          <li>
            <strong>Computer-generated</strong>
            <p>Computer-created work like website designs, page layouts, logos, packaging that communicate clearly are wonderful.</p>
          </li>
          <li>
            <strong>Thumbnail sketches</strong>
            <p>Show your process to the design solution. This is especially important for computer-generated pieces.</p>
          </li>
          <li>
            <strong>Photography</strong>
            <p>Photography can show interesting use of space, organization &amp; cropping. It will speak to your <em>design eye</em>.</p>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <p class="push-0 max-length text-center">Below are some good examples of work previous applicants have included in their portfolio.</p>
      <div class="grid gutter-1-4 pad-t">
        <div class="unit [ xs-1 m-1-3 ] gutter-1-4 push-1-2">
          <div class="portfolio-requirements-example embed embed-2by3">
            <img class="embed-item" src="/images/portfolio-pieces/book-cover.jpg" alt="Book cover design for “Paul et Virginie”">
          </div>
        </div>
        <div class="unit [ xs-1-2 m-1-3 ] gutter-1-4 push-1-2">
          <div class="portfolio-requirements-example embed embed-2by3">
            <img class="embed-item" src="/images/portfolio-pieces/chen-jun-book-cover-2018.jpg" alt="Music festival poster design">
          </div>
        </div>
        <div class="unit [ xs-1-2 m-1-3 ] gutter-1-4 push-1-2">
          <div class="portfolio-requirements-example embed embed-2by3">
            <img class="embed-item" src="/images/portfolio-pieces/kenlock-brian-lettering-2018.jpg" alt="Package &amp; card design for a wedding">
          </div>
        </div>
        <div class="unit [ xs-1 m-1-2 ] gutter-1-4 push-1-2">
          <div class="portfolio-requirements-example embed embed-3by2">
            <img class="embed-item" src="/images/portfolio-pieces/linda-breitenstein-greeting-card-2018.jpg" alt="Hand-painted postcard">
          </div>
        </div>
        <div class="unit [ xs-1 m-1-2 ] gutter-1-4 push-1-2">
          <div class="portfolio-requirements-example embed embed-3by2">
            <img class="embed-item" src="/images/portfolio-pieces/jodoin-jessica-typography-2018.jpg" alt="Hand drawn typographic lettering">
          </div>
        </div>
        <div class="unit [ xs-1-2 m-1-3 ] gutter-1-4 push-1-2">
          <div class="portfolio-requirements-example embed embed-2by3">
            <img class="embed-item" src="/images/portfolio-pieces/roldan-arlyne-vectors-2018.jpg" alt="Anime inspired character design">
          </div>
        </div>
        <div class="unit [ xs-1-2 m-1-3 ] gutter-1-4 push-1-2">
          <div class="portfolio-requirements-example embed embed-2by3">
            <img class="embed-item" src="/images/portfolio-pieces/quincy-prime-t-shirt-2018.jpg" alt="T-shirt illustration rendered digitally">
          </div>
        </div>
        <div class="unit [ xs-1 m-1-3 ] gutter-1-4 push-1-2">
          <div class="portfolio-requirements-example embed embed-2by3">
            <img class="embed-item" src="/images/portfolio-pieces/brown-hannah-sketches-2018.jpg" alt="Ideation sketches for a jewellery advert">
          </div>
        </div>
        <div class="unit [ xs-1-2 m-1-2 ] gutter-1-4 push-1-2">
          <div class="portfolio-requirements-example embed embed-3by2">
            <img class="embed-item" src="/images/portfolio-pieces/belisle-paul-logo-2018.jpg" alt="Logo design for Belisle Paul">
          </div>
        </div>
        <div class="unit [ xs-1-2 m-1-2 ] gutter-1-4 push-1-2">
          <div class="portfolio-requirements-example embed embed-3by2">
            <img class="embed-item" src="/images/portfolio-pieces/germain-jennifer-game-case-2018.jpg" alt="Package design for a video game">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pad-b text-center bg-blue-light">
    <div class="embed embed-slant push" aria-hidden="true" role="presentation">
      <svg class="embed-item" width="1600" height="80" viewBox="0 0 1600 80">
        <rect fill="#fff" width="1629.8" height="187.41" x="-16.1" y="-146.8" transform="rotate(2 797.48 -51.983)"/>
      </svg>
    </div>
    <header class="gutter-1-2 push">
      <h2 class="yotta"><span tabindex="0" id="submission">Submit Your Portfolio</span></h2>
      <p class="mega max-length">Submit the physical book or submit a digital PDF. But make sure to get your portfolio in on time to be considered for the Algonquin College Graphic Design Program.</p>
      <em class="mega ib push-1-2">Due June 15th or until the program is full.</em>
    </header>
    <div class="wrapper gutter-1-2 text-left grid">
      <div class="unit [ xs-1 s-1 m-1-2 ] gutter-1-2">
        <h3>Submit a physical book</h3>
        <p class="">Use the <a href="https://www.bookstore.algonquincollege.com/Item?item=88880042938&amp;data=Portfolio" rel="external">Portfolio Kit</a> or neatly collect your portfolio into a single book, box it, and send it to the Graphic Design program.</p>
        <p class="micro text-left w-1">Deliver physical portfolios to:</p>
        <address class="w-1 block push">
          Algonquin College
          <br>Graphic Design Department
          <br>Room N215
          <br>1385 Woodroffe Ave.
          <br>Ottawa, ON, K2G 1V8
        </address>
      </div>
      <div class="unit [ xs-1 s-1 m-1-2 ] gutter-1-2">
        <h3>Submit a digital PDF</h3>
        <p>Send us your portfolio in a single PDF file named “Graphic Design Portfolio”. Each piece should be clearly labeled indicating the title and medium used, as well as the dimensions of the actual work.</p>
        <p class="milli">In the PDF, include your name, e-mail address, telephone number and student number.</p>
        <p class="push"><a href="mailto:design@algonquindesign.ca?subject=Graphic%20Design%20Portfolio&amp;body=Name:%20%0D%0AEmail:%20%0D%0ATel:%20%0D%0AStudent%20Number:%20%0D%0A">Email the single PDF to design@algonquindesign.ca</a></p>
        <small class="micro">If the file size of your PDF is too large to attach to an e-mail, upload it to a cloud file sharing service, like <a href="https://www.dropbox.com/" rel="external">Dropbox</a> or <a href="https://www.google.com/drive/" rel="external">Google Drive</a>, and share the link with us.</small>
      </div>
    </div>
  </section>

  <section class="bg-grey-light bg-grey-light-texture pad-t-2">
    <div class="wrapper gutter-1-2 pad-b-2">
      <h2 class="exa"><span tabindex="0">Questions or concerns</span></h2>
      <p class="push max-length not-centered">If you have any questions or concerns, please contact one of the Graphic Design coordinators:</p>
      <ul class="milli push-0 grid">
        <li class="unit [ xs-1 s-1 m-1-2 ] push">David Bromley<br>+1 613 727 4723 ext. 5267<br><a href="mailto:bromled@algonquincollege.com">bromled@algonquincollege.com</a></li>
        <li class="unit [ xs-1 s-1 m-1-2 ]">Alain Paradis<br>+1 613 727 4723 ext. 5878<br><a href="mailto:paradia@algonquincollege.com">paradia@algonquincollege.com</a></li>
      </ul>
    </div>
  </section>

  {% include interested.html %}
</main>

{% include footer.html hide_hire=true %}
