---
layout: default
title: "Portfolio Requirements · Algonquin Design"
desc: "See what’s needed—and how to excel—when applying to the Algonquin Graphic Design program with your portfolio."
main_title: "Portfolio requirements"
main_desc: "See what’s needed—and how to excel—when applying to the Algonquin Graphic Design program with your portfolio."
---

<ul class="skip-links">
  <li><a href="#intro">Jump to introduction</a></li>
  <li><a href="#main">Jump to main content</a></li>
  <li><a href="#logo-design">Jump to logo design</a></li>
  <li><a href="#poster-design">Jump to poster design for an event</a></li>
  <li><a href="#design-pieces">Jump to sample design pieces</a></li>
  <li><a href="#submission">Jump to portfolio submission</a></li>
</ul>

{% include icons.html %}
{% include masthead.html %}

<main role="main" id="main">
  {% include banner-inside.html class='main-title-portfolio' %}

  <header class="wrapper gutter-1-2 pad-t">
    <h2 class="yotta color-green-dark pad-t-1-2" id="intro">Why a portfolio?</h2>
    <p>A Graphic Design portfolio is a sampling of your best design work and should demonstrate creativity and how you developed your ideas. Portfolios also demonstrate your hand skills: how well you can sketch out and develop your ideas. There is far more value in showcasing how you think rather than simply showing completed work.</p>
    <p class="push-2">A portfolio submission is an extremely important part of Graphic Design. Submitting a portfolio of work is something designers do professionally when trying to secure work—not just part of a school application. Whether for a job or for school, portfolios showcase your ability to work within constraints, illustrate your process, feature your problem solving abilities, your communication skills, and your creativity. They help us, and employers and educators, to determine if you are the right fit & can accomplish the work that is expected from you.</p>
    <hr class="hr-muted">
  </header>

  <section class="portfolio-requirements wrapper gutter-1-2 pad-t">
    <div>
      <h2 class="yotta color-green-dark pad-t-1-2" id="main">Portfolio submission</h2>
      <p><strong>As part of the application process for the Graphic Design program, you are required to submit 10 to 15 of your best design pieces. The first two portfolio requirements are more in depth exercises. Your portfolio should include:</strong></p>

      <div class="unit [ xs-1 s-1 m-1 ]">
        <h3 id="logo-design">1. Logo Design</h3>
        <p>A logo is a symbol of identification for a company, made up of images, shapes, and text. It usually includes the name and/or purpose of a business and conveys a message or emotionally connects to an audience through the use of colour, fonts, or symbols. Designers begin a logo design by researching and sketching. It is important to show your process and thinking pattern in a logo presentation.</p>
        <p>For your portfolio submission, design (or redesign) a logo for one of the following: A Sport Team, A Restaurant, or A Flower Shop. Start by researching existing logos for the business you choose, then start sketching your own ideas; include a minimum of 15 logo sketches, your final logo design, and a logo application. You can complete this work by hand and on a computer or all by hand.</p>
      </div>

      <div class="pad-t push-2">
        <ul class="col-masonry box-shadow-lg">
          <li><img src="/images/logo-design/logo-example-A1.jpg" alt="Original logo and sketch ideas for new 613flea logo design"/></li>
          <li><img src="/images/logo-design/logo-example-A2.jpg" alt="Font and colour selection, logo explanation and new logo design for 613flea"/></li>
        </ul>
      </div>

      <div class="unit [ xs-1 s-1 m-1 ]">
        <h3 id="poster-design">2. Poster Design for an Event</h3>
        <p>The goal of an event poster is to promote and advertise an event. It needs to be eye-catching and interesting but it also needs to be informational and easy to read. There has to be a balance between excitement and ensuring your message gets across to an audience. Event posters can simply be made up of type and colour, illustration and type, or photography and type. </p>
        <p>For your portfolio submission, design an 8 1/2 x 11” event poster for one of the following: A Craft Market, A Music Event or A Sporting Event. You should include the name of the event, the date and time, and where it will be taking place. You can also include any special guests, presenters, or sponsors. Start by researching existing posters, then start sketching your own ideas. Include a minimum of 5 possible poster layout sketches and your final poster design. You can complete this work by hand and on a computer or all by hand.</p>
      </div>

      <div class="pad-t push-2">
        <ul class="col-masonry box-shadow-lg">
          <li><img src="/images/poster/poster-example-B1.jpg" alt="Image displaying objective, slogans and sample ideas for poster design"/></li>
          <li><img src="/images/poster/poster-example-B2.jpg" alt="Image displaying sketch ideas and notes for poster design"/></li>
          <li><img src="/images/poster/poster-example-B3.jpg" alt="Final Boogie Wonderland poster design"/></li>
        </ul>
      </div>

      <div class="unit [ xs-1 s-1 m-1 ]">
        <h3 id="design-pieces">3. 10 to 15 design pieces</h3>
        <p>Additional samples of your design work can include any design related items such as: print layouts, publications, newsletters, brochures, posters, book cover designs, web designs, animation design, branding, advertisements, packaging design, interfaces, environmental design, product design, product illustration, icons, or type only exploration pieces.<p>
        <p><strong>Note:</strong> If you have examples of photography, illustration, or paintings, ensure these elements are combined into graphically designed pieces with type in order to be assessed on your fit for this program.</p>
      </div>

      <div class="pad-t push-2">
        <ul class="col-masonry box-shadow-lg">
          <li><img src="/images/portfolio-pieces/water-colour-study-2.jpeg" alt="Water colour study of a woman"/></li>
          <li><img src="/images/portfolio-pieces/water-colour-study.jpeg" alt="Water colour study of takeout food"/></li>
          <li><img src="/images/portfolio-pieces/poster-design.jpeg" alt="Poster design for Ces filles-la"/></li>
          <li><img src="/images/portfolio-pieces/typography.jpg" alt="Sample typography piece"/></li>
          <li><img src="/images/portfolio-pieces/photograph.jpeg" alt="Photograph of flower and gnome"/></li>
          <li><img src="/images/portfolio-pieces/gouache-study.jpeg" alt="Cubic sky gouache painting"/></li>
          <li><img src="/images/portfolio-pieces/pencil-illustration.jpeg" alt="Pencil illustration of woman with colourful illustrations for hair"/></li>
          <li><img src="/images/portfolio-pieces/chess-pieces.jpeg" alt="Illustration of chess pieces"/></li>
          <li><img src="/images/portfolio-pieces/pulp-fiction.jpeg" alt="Pulp Fiction poster design"/></li>
          <li><img src="/images/portfolio-pieces/book-cover.jpg" alt="Book cover design for Paul et Virginie"/></li>
          <li><img src="/images/portfolio-pieces/lai-cover.jpeg" alt="Lai cover design"/></li>
          <li><img src="/images/portfolio-pieces/sticker.jpeg" alt="Octopus sticker design"/></li>
          <li><img src="/images/portfolio-pieces/lee-cover-design.jpg" alt="Cover design of man"/></li>
          <li><img src="/images/portfolio-pieces/logo-design.jpeg" alt="Logo design for Rabid"/></li>
        </ul>
      </div>

      <div class="unit [ xs-1 s-1 m-1 ] push-2">
        <h3>Important notes</h3>
        <p><strong>Plagiarism is not tolerated! Applicants who have submitted work which is copied or not their own will not be accepted to the program.</strong></p>
        <p>If you submit work that was part of a collaboration, please indicate what part you played in the design process.</p>
      </div>

    </div>
    <hr class="hr-muted">
  </section>

  <section class="wrapper gutter-1-4 pad-t push-2">
    <div class="gutter-1-4 push-2">
      <h2 class="yotta color-green-dark pad-t-1-2" id="submission">Submission</h2>
      <p>Your submission must be submitted online as one single PDF file. Please label your PDF as <em>Lastname,Firstname, Portfolio</em>. Email your electronic portfolio to: <a href="mailto:design@algonquincollege.com?subject=Graphic%20Design%20Portfolio&amp;body=Name:%20%0D%0AEmail:%20%0D%0ATel:%20%0D%0AStudent%20Number:%20%0D%0A">design@algonquincollege.com</a> in a single PDF document. Include your name, email address, telephone number, and student number. If your PDF file is larger than 10MB, please use a cloud service such as Google Drive or iCloud or Dropbox to send us a link to the file. Note that submissions that are not set up in this format will not be considered.</p>
      <p>Please include a 250 word written response to the question:</p>
      <p class="italic">What experience and personal qualities do I bring as a prospective student in the Graphic Design Program?</p>
      <p>Write your response in any text editor in Times New Roman at 12 point text size, double spaced. Save it as a PDF. Submit it with your portfolio pieces.</p>
      <p>Portfolio submissions will be accepted until the program is full. The earlier you submit your portfolio and confirm your acceptance, the better your chance of securing a spot in the program as it fills up quickly.</p>
    </div>
  </section>

  <section class="bg-grey-light bg-grey-light-texture pad-t-2">
    <div class="wrapper gutter-1-2 pad-b-2">
      <h2 class="exa"><span tabindex="0">Questions or concerns</span></h2>
      <p class="push max-length not-centered">If you have any questions or concerns, please contact one of the Graphic Design coordinators:</p>
      <ul class="milli push-0 grid">
        <li class="unit [ xs-1 s-1 m-1-2 ] push">David Bromley<br>+1 613 727 4723 ext. 5267<br><a href="mailto:bromled@algonquincollege.com">bromled@algonquincollege.com</a></li>
        <li class="unit [ xs-1 s-1 m-1-2 ]">Alain Paradis<br>+1 613 727 4723 ext. 5878<br><a href="mailto:paradia@algonquincollege.com">paradia@algonquincollege.com</a></li>
      </ul>
    </div>
  </section>

  {% include interested.html %}
</main>

{% include footer.html hide_hire=true %}
