---
layout: default
title: "Portfolio Requirements · Algonquin Design"
desc: "See what’s needed—and how to excel—when applying to the Algonquin Graphic Design program with your portfolio."
main_title: "Portfolio requirements"
main_desc: "See what’s needed—and how to excel—when applying to the Algonquin Graphic Design program with your portfolio."
---

<ul class="skip-links">
  <li><a href="#intro">Jump to introduction</a></li>
  <li><a href="#main">Jump to main content</a></li>
</ul>

{% include icons.html %}
{% include masthead.html %}

<main role="main" id="main">
  {% include banner-inside.html %}

  <div class="wrapper gutter-1-2 pad-t">
    <h2 class="yotta color-green-dark pad-t-1-2">The importance of portfolios</h2>
    <p class="tera italic">Portfolios are an extremely important part of the Graphic Design field.</p>
    <p class="giga">Submitting portfolios is something we do professionally when trying to get jobs—not just part of the school application.</p>
    <p class="mega push-2">Portfolios—whether for a job or for school—show off your ability to work within constraints, your process, your problem solving aptitude, your communication skills, your creativity—not just your raw talent. They help us (and employers) determine if you are the right fit &amp; can accomplish the work we expect.</p>
    <hr class="hr-muted">
  </div>

  <div class="grid wrapper gutter-1-4 pad-t">
    <div class="unit [ xs-1 s-1 m-2-3 ] gutter-1-4">

      <h2 class="exa">Portfolio submission</h2>
      <p class="mega"><strong>As part of the application process for Graphic Design, you are required to submit the following items:</strong></p>
      <ul class="list-group">
        <li class="max-length-narrow not-centered">
          <span class="yotta bold color-green-dark">1.</span><br>
          <a class="mega bold ib push-1-2" href="#drawing-test">Drawing test</a>
          <p>Draw a self-portrait in pencil that shows off your attention to detail, your style, your cleanliness—and your ability to follow instructions.</p>
        </li>
        <li class="max-length-narrow not-centered">
          <span class="yotta bold color-green-dark">2.</span><br>
          <a class="mega bold ib push-1-2" href="#layout-test">Layout test</a>
          <p>Redesign a jewellery store advert, showing us your creativity, your communication skills—and your ability to work within constraints.</p>
        </li>
        <li class="max-length-narrow not-centered">
          <span class="yotta bold color-green-dark">3.</span><br>
          <a class="mega bold ib push-1-2" href="#your-portfolio">10–15 creative works</a>
          <p>Demonstrate what you can do with samples of your absolute best work: layout, typography, sculpture, painting, drawing, web design—and sketches.</p>
        </li>
      </ul>
    </div>
    <div class="unit [ xs-1 s-1 m-1-3 ] gutter-1-4 pad-t-1-4">
      <h3>Due June 1st<br><em class="not-bold">or until program is full</em></h3>
      <p class="micro push-0">Deliver completed portfolios to:</p>
      <address class="push">
        Algonquin College
        <br>Graphic Design Department
        <br>Room N215, 1385 Woodroffe Ave.
        <br>Ottawa, ON, K2G 1V8
      </address>
      <h3>Important notes</h3>
      <ul class="milli">
        <li class="push-1-2">There is a <a href="https://www.algonquincollege.com/mediaanddesign/program/graphic-design/" rel="external">portfolio assessment fee payable to Algonquin College</a> with your submission.</li>
        <li class="push-1-2"><strong>Plagiarism is not tolerated!</strong> Applicants who have submitted work which is not their own, will not be accepted to the program.</li>
        <li class="push-1-2">Please supply photographs or photocopies or your originals.</li>
        <li class="push-1-2">If you submit work that was part of a collaboration, indicate what part you played in the process.</li>
        <li>Portfolios will be returned if requested and picked up.</li>
      </ul>
    </div>
  </div>

  <div class="pad-t-2 pad-b-2">
    <aside class="media-block-wrap gutter-1-2">
      <div class="media-block wrapper grid grid-stretch">
        <div class="media-block-img media-block-img-contain unit [ xs-1 s-1-4 ] unit-content-distribute" style="background-image:url({{site.baseurl}}/images/jobs/ac-graphic-design.svg);background-color:#00673e;">
          <a class="content-stretch ir link-box" href="/">Learn more about Graphic Design</a>
        </div>
        <div class="media-block-text unit [ xs-1 s-3-4 ] gutter pad-t pad-b unit-content-distribute">
          <div class="grid grid-middle content-stretch">
            <div class="unit [ xs-1 m-2-3 ] unit-content-distribute">
              <div class="content-stretch center-contents-vertical-start">
                <h2 class="giga push-1-2"><span tabindex="0" id="news">Terms &amp; concepts</span></h2>
                <p class="block push-1-2 mega italic">There’s lots of jargon and terminology in Graphic Design—like all professions.</p>
                <p class="push-0">If you are unfamiliar with some of the terminology, a few hours of research online or in paper will help.</p>
              </div>
            </div>
            <div class="news-learn-more unit [ xs-1 m-1-3 ] unit-content-distribute pad-t">
              <div class="content-stretch center-content milli">
                <ul class="list-group push-0">
                  <li>
                    <a class="relative" href="https://en.wikipedia.org/wiki/Graphic_design" rel="external">
                      <span class="icon-label push-r-1-2">Wikipedia</span>
                      <i class="icon i-16 absolute pin-rc"><svg><use xlink:href="#arrow"></use></svg></i>
                    </a>
                  </li>
                  <li>
                    <a class="relative" href="https://www.appliedartsmag.com/" rel="external">
                      <span class="icon-label push-r-1-2">Applied Arts</span>
                      <i class="icon i-16 absolute pin-rc"><svg><use xlink:href="#arrow"></use></svg></i>
                    </a>
                  </li>
                  <li>
                    <a class="relative" href="https://www.commarts.com/" rel="external">
                      <span class="icon-label push-r-1-2">Communication Arts</span>
                      <i class="icon i-16 absolute pin-rc"><svg><use xlink:href="#arrow"></use></svg></i>
                    </a>
                  </li>
                  <li>
                    <a class="relative" href="https://www.smashingmagazine.com/" rel="external">
                      <span class="icon-label push-r-1-2">Smashing Magazine</span>
                      <i class="icon i-16 absolute pin-rc"><svg><use xlink:href="#arrow"></use></svg></i>
                    </a>
                  </li>
                  <li>
                    <a class="relative" href="https://www.fastcodesign.com/" rel="external">
                      <span class="icon-label push-r-1-2">Fast Co. Design</span>
                      <i class="icon i-16 absolute pin-rc"><svg><use xlink:href="#arrow"></use></svg></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>

</main>
