---
layout: default
title: "Hardware Requirements"
description: "As students in a Bring Your Own Device (BYOD) program, you'll need to come to class with approved hardware. This is what you'll need and when."
main_title: "Hardware Requirements"
id: "hardware"
---

<ul class="skip-links">
	<li><a href="#intro">Jump to introduction</a></li>
	<li><a href="#main">Jump to main content</a></li>
</ul>
{% include 01-masthead.html %}
{% include 02-banner.html %}
<main role="main" class="main-hardware">
	<div class="">
		<h2>
			What’s Required
		</h2>
		<p>
			The Graphic Design Program is part of the College’s BYOD program, as such a Macintosh laptop is mandatory equipment. The base model 16” MacBook Pro is the minimum required equipment. They come with a minimum of 16GB of memory (RAM).
		</p>
		<h3>
			Why Do I Need to Buy This?
		</h3>
		<p>
			A MacBook Pro is an industry-standard laptop for graphic designers. Your faculty does their best to prepare you for work in industry. As such, we want you to start using that equipment as soon as possible.
		</p>
		<p>
			Another reason for this is standardization. It’s much cleaner to teach a group who’s all using the same equipment. While teaching, we can point to a feature knowing it will be at the same place for all students. There are no operating system variants, such as Windows 7, Windows 8, Windows 10, etc...
		</p>
		<h3>
			Bring What You Have
		</h3>
		<p>
			Some students have a recently purchased laptop. Come to class with what you have, whether it’s a Windows or a macOS model. You’ll transition to the Mac as soon as it’s you can.	Likewise, if you have an older laptop, bring it to class. We’ll work with what you have until you can upgrade.
		</p>
		<h3>
			What to Avoid
		</h3>
		<p>
			If you are purchasing a new Mac, avoid smaller models such as the 13" or 14" laptops. They're great all-around machines, but their screens are too small for professional design work.
		</p>
		<h3>
			Peripherals & More...
		</h3>
		<p>
			You need to come to each class equipped with a mouse and a mouse pad of your choice. If you purchase a new MacBook Pro, Apple’s AppleCare warranty is a good idea, though not mandatory.
		</p>
		<p>
			It will be useful to bring earphones or headphones to class so you can listen to video tutorials, if needed. Keep them in your bag.
		</p>
		<p>
			Please allot $99 per year for an online backup service. <a href="http://www.backblaze.com" target="_blank">BackBlaze</a> is a good one. Alternatively, you can purchase an external desktop hard drive at approximately $100. Any USB 3 unit at 2TB or above is sufficient. One of the two choices is mandatory. Note that all Algonquin College students also receive 2TB of cloud storage on Microsoft OneDrive.
		</p>
		<p>
			No printer or scanner is required.
		</p>
		<p>
			You do not need to purchase any software for the Graphic Design Program. All software is provided by the college at no additional cost to you.
		</p>
		<h2>
			Where to Buy
		</h2>
		<p>
			Apple Retail Stores: Computers can be purchased either at an Apple Retail store (<a href="https://www.apple.com/ca/retail/rideau/" target="_blank">Rideau Centre</a> or <a href="https://www.apple.com/ca/retail/bayshoreshoppingcentre/" target="_blank">Bayshore</a>) to take advantage of their educational discount of 6 to 10 percent.
		</p>
		<p>
			Apple Online Store for Education: You can get the same discount by buying online at <a href="https://www.apple.com/ca_edu_93120/shop/buy-mac/macbook-pro/16-inch" target="_blank">Apple’s online education store</a>
		</p>
		<p>
			Apple Refurbished Online Store: You can also purchase a refurbished MacBook Pro from the <a href="https://www.apple.com/ca_edu_93120/shop/browse/home/specialdeals" target="_blank">Apple online store</a>. These aren’t used machines. Most of them came off the production lines with a flaw. Apple repaired & inspected them. You get a warranty.
		</p>
		<p>
			Best Buy: They’re an authorized Apple reseller. They offer an in-store warranty that seems pretty good.
		</p>
  </div>
</main>

{% include 13-footer.html %}
