{% if page.title == 'Home' %}
<section class="banner">
  <div class="banner-content">
    <h1 class="home">{{ site.data.sitewide.sitewide-info.program-name }}</h1>
    <h2 class="home">{{ site.data.sitewide.sitewide-info.program-purpose }}</h2>
    <div>
      {{ site.data.sitewide.sitewide-info.academic-year }}
      • Program Code: {{ site.data.sitewide.sitewide-info.program-code }}
    </div>
    <div>
      {{ site.data.sitewide.sitewide-info.accreditation }}
      • {{ site.data.sitewide.sitewide-info.program-duration }}
      • {{ site.data.sitewide.sitewide-info.campus-name }}
    </div>
  </div>
</section>

{% elsif page.layout == "post" or page.id == "articles" %}
<section class="banner">
  <div class="banner-content">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.deck }}</h2>
  </div>
</section>

{% elsif page.layout == "wil" %}
<section class="banner">
  <div class="banner-content">
    <h1>{{ page.title }}</h1>
  </div>
</section>

{% elsif page.title == 'Fieldwork'
      or page.title == 'Jobs'
      or page.id == 'fieldwork-thankyou'
      or page.id == 'jobs-thankyou'
      or page.id == 'portfolio-requirements'
      or page.id == '404'
      or page.id == 'hardware'
      or page.id == 'spark'
      or page.id == 'spark-thankyou'
      or page.id == 'spark-apply' %}
<section class="banner">
  <div class="banner-content">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.description }}</h2>
  </div>
</section>
{% endif %}
