<section class="stats" id="stats" name="stats">
	<div class="stats-grid">
		<div class="stats-item checklist">
			<h3>
				{{site.data.stats.foryou.title}} 
			</h3>
			<ul>
				{% for item in site.data.stats.foryou.items %} 
				<li>{{item}}</li>
				{% endfor %} 
			</ul>
		</div>
		<div class="stats-item checklist">
			<h3>
				{{site.data.stats.highlights.title}} 
			</h3>
			<ul>
				{% for item in site.data.stats.highlights.items %} 
				<li>{{item}}</li>
				{% endfor %} 
			</ul>
		</div>
		<div class="stats-item opportunities">
			<h3>
				{{site.data.stats.career.title}} 
			</h3>
			<ul>
				{% for item in site.data.stats.career.items %} 
				<li>{{item}}</li>
				{% endfor %} 
			</ul>
		</div>
	</div>
	<div class="satisfaction">
		<h3>
			98% Student Satisfaction Rate 
		</h3>
		<p>
			In 2019, when Graphic Design Program students were asked, “Is your program is giving you knowledge and skills that will be useful in your future career?” — 98% agreed. 
		</p>
		<p class="italic">
			—KPI Student Satisfaction Capstone Question 
		</p>
	</div>
</section>
