<section class="portfolio-reqs" id="portfolio-reqs" name="portfolio-reqs">
	<div class="portfolio-reqs-content">
		<div class="portfolio-reqs-logo">
			<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewbox="0 0 151.42 157.32"><defs><style>
.cls-1{fill:#797979}.cls-2{fill:#ebebeb}
			
			</style>
			</defs><path d="M132.57 157.32l-96.34-13.93 18.85-130.4 96.34 13.93-18.85 130.4zm-85.02-22.4l76.55 11.07 15.99-110.6-76.55-11.07-15.99 110.6z" class="cls-1" /><path d="M47.55 134.92l76.55 11.07 15.99-110.6-76.55-11.07-15.99 110.6z" class="cls-2" /><path d="M82.45 10.5h36.74v96.13H82.45z" class="cls-2" /><path d="M124.19 111.63H77.45V5.5h46.74v106.13zm-36.74-10h26.74V15.5H87.45v86.13z" class="cls-1" /><path d="M0 24.52l32.54 127.67 96.18-24.52L96.18 0 0 24.52zm12.16 7.22l10.88-2.77 27.6 108.29-10.88 2.77-27.6-108.29zm104.4 88.71l-56.23 14.33-27.6-108.29 56.23-14.33 27.6 108.29z" class="cls-1" /><path d="M12.16 31.74l10.88-2.77 27.6 108.29-10.88 2.77-27.6-108.29zm104.4 88.71l-56.23 14.33-27.6-108.29 56.23-14.33 27.6 108.29z" class="cls-2" /></svg> 
		</div>
		<div class="portfolio-reqs-text">
			<h3>
				Portfolio Requirements 
			</h3>
			<p>
				{{site.data.portfolio.desc | replace: '& ', '<abbr title="and">&amp;</abbr> '}} 
			</p>
			<p>
				{{site.data.portfolio.details | replace: '& ', '<abbr title="and">&amp;</abbr> '}} 
			</p>
			<p>
				<em>{{site.data.portfolio.questions}} <a href="mailto:{{site.data.portfolio.email}}?subject=Question%20about%20portfolio%20requirements">{{site.data.portfolio.email_text}}</a><span aria-hidden="true" role="presentation">.</span></em> 
			</p>
		</div>
	</div>
	<a href="{{site.data.portfolio.url}}" class="btn btn-dark-green">{{site.data.portfolio.button}}</a> 
</section>
