<section class="interested" id="interested" name="interested">
	<h2>
		{{site.data.interested.title}} 
	</h2>
	<p>
		{{site.data.interested.desc | replace: '& ', '<abbr title="and">&amp;</abbr> '}} 
	</p>
	<p>
		<em>{{site.data.interested.questions}} <a href="mailto:{{site.data.interested.email}}?subject=Question%20about%20applying">{{site.data.interested.email_text}}</a><span aria-hidden="true" role="presentation">.</span></em> 
	</p>
		<a href="https://www.algonquincollege.com/mediaanddesign/program/graphic-design/" class="btn btn-white">Apply now&nbsp;➜</a> 
</section>
