<footer name="footer" id="footer" class="footer">
	<div class="footer-content">
		{% unless page.url contains 'jobs' %}
		<h2>
			Hire a Graphic Design Student
		</h2>
		<p>
			Interested in hiring one of our talented students? You’ll get loads of creativity, innovative solutions—and affordable rates.
		</p>
		<a href="{{ '/jobs/' | relative_url }}" class="btn btn-orange">Hire a Designer</a> {% endunless %}
		<nav role="navigation">
			<h2 class="hidden">
				Sitemap
			</h2>
			<ul>
				<li><a href="/#testimonials">{{site.data.testimonials.testimonials_title}}</a></li>
				<li><a href="/#stats">{{site.data.stats.foryou.title | replace: ':', ''}}</a></li>
				<li><a href="/#stats">{{site.data.stats.career.title}}</a></li>
				<li><a href="/#stats">{{site.data.stats.highlights.title}}</a></li>
				<li><a href="/#news">{{site.data.news.section_title}}</a></li>
				<li><a href="/#hear-from-grads">{{site.data.video.title}}</a></li>
				<li><a href="/#sample-work">{{site.data.sample-work.title}}</a></li>
				<li><a href="/#curriculum">{{site.data.curriculum.title}}</a></li>
				<li><a href="/#faculty">{{site.data.faculty.title}}</a></li>
				<li><a href="/#grads">{{site.data.grads.title}}</a></li>
				<li><a href="/#portfolio-reqs">{{site.data.portfolio.title}}</a></li>
				<li><a href="/#interested">{{site.data.interested.title}}</a></li>
			</ul>
		</nav>
		<h2 class="hidden">
			{{site.data.footer.social_title}}
		</h2>
		<ul class="footer-links social">
			{% for link in site.data.footer.social %}
			<li><img alt="" class="social-icon" src="{{ site.baseurl }}/svg/{{ link.icon }}.svg"><a href="{{link.url}}" rel="external">{{link.title}}</a></li>
			{% endfor %}
		</ul>
		<h2 class="hidden">
			{{site.data.footer.resources_title}}
		</h2>
		<ul class="footer-links resources">
			{% for link in site.data.footer.resources %}
			<li> <a href="{{link.url}}" rel="external">{{ link.title }}</a></li>
			{% endfor %}
		</ul>
		<div class="footer-copyright">
			<div>
				<a href="https://www.algonquincollege.com/" rel="external" title="Algonquin College" aria-label="Algonquin College" style="border-bottom: 0;"><img alt="Algonquin College" class="logo-algonquin" src="{{ site.baseurl }}/svg/algonquin.svg"></a>
			</div>
			<div>
				© {{site.time | date: '%Y'}} Graphic Design, <span itemprop="name">Algonquin College</span>
				<address itemprop="address" itemscope itemtype="https://schema.org/PostalAddress"><span itemprop="streetAddress">1385 Woodroffe Ave.</span>, <span itemprop="addressLocality">Ottawa</span>, <span itemprop="addressRegion">ON</span>, <span itemprop="addressCountry">CA</span>, <span itemprop="postalCode">K2G 1V8</span></address>
			</div>
			<div><a href="/spark/">Spark</a> •
			 <a href="wil.algonquindesign.ca">WIL</a> •
				<a href="https://www.algonquincollege.com/directives/privacy/">Privacy <abbr title="and">&amp;</abbr> Cookies</a>
			</div>
		</div>
	</div>
</footer>
