<section class="intro bg-green-light bg-green-light-texture relative">
  <div class="relative zindex-3">
    <div class="intro-text wrapper gutter-1-2 pad-t-2 pad-b push">
      <h2 class="main-title push">Graphic Design</h2>
      <div class="max-length not-centered">
        <p class="tera push-0">Learn to creatively explore and curate ideas to visually communicate the solution to&nbsp;problems.</p>
      </div>
    </div>
    <div class="media-block-wrap testimonials-wrap push-2 gutter-1-2">
      <div class="media-block testimonials wrapper grid grid-stretch">
        <div class="media-block-img testimonial-img unit [ xs-1 s-1-4 ] relative zindex-2" style="background-image:url({{site.baseurl}}/images/testimonials/steph-albert.jpg)">&nbsp;</div>
        <div class="media-block-text unit [ xs-1 s-3-4 ] relative zindex-3 gutter pad-t pad-b unit-content-distribute">
          <blockquote class="content-stretch center-contents-vertical-start push-0">
            <p class="mega push-1-2 italic"><span class="hang-punc">“</span>A progressive curriculum with relevant courses, and faculty to fully support one’s ambition for success in the industry.<span>”</span></p>
            <footer>—<cite>Steph Albert</cite>, Graduate</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <svg class="absolute pin-cb chop w-1 zindex-1" width="1600" height="80" viewBox="0 0 1600 80">
    <rect fill="#fff" width="1629.8" height="220.36" x="-9" y="40.5" transform="rotate(-2 805.388 151.596)"/>
  </svg>
</section>
