<section class="intro bg-green-light bg-green-light-texture relative">
  <div class="relative zindex-3 testimonial-button-wrap">
    <div class="intro-text wrapper gutter-1-2 pad-t-2 pad-b-1-2 push">
      <h2 class="main-title push"><span tabindex="0">{{site.data.banner.title}}</span></h2>
      <div class="max-length not-centered push-1-2">
        <p class="tera push-0">{{site.data.banner.desc | replace: '& ', '<abbr title="and">&amp;</abbr> '}}</p>
      </div>
      <ul class="list-group-inline pad-t-1-4 push-1-2 milli">
        <li>Academic year: 2018–2019</li>
        <li role="presentation" aria-hidden="true">·</li>
        <li>Program code: 1400X01FWO</li>
      </ul>
      <ul class="list-group-inline pad-t-1-4 push-1-2 kilo">
        <li class="push-r-1-2">
          <i class="banner-icon icon i-64" aria-hidden="true" role="presentation"><svg><use xlink:href="#credential"></use></svg></i>
          <span class="ib icon-label">{{site.data.banner.credential}}</span>
        </li>
        <li class="push-r-1-2">
          <i class="banner-icon icon i-64" aria-hidden="true" role="presentation"><svg><use xlink:href="#building"></use></svg></i>
          <span class="ib icon-label">{{site.data.banner.location}}</span>
        </li>
        <li>
          <i class="banner-icon icon i-64" aria-hidden="true" role="presentation"><svg><use xlink:href="#length"></use></svg></i>
          <span class="ib icon-label">{{site.data.banner.length}}</span>
        </li>
      </ul>
    </div>
    <div class="media-block-wrap testimonials-wrap push-2 gutter-1-2" id="testimonials">
      <h2 class="visually-hidden">{{site.data.banner.testimonials_title}}</h2>
      {% assign js_less_quote = site.data.testimonials[0] %}
      <div id="testimonials-group">
        {% include testimonial-template.html testimonial=js_less_quote %}
        <script>document.querySelector('.testimonials').setAttribute('data-state', 'loading');</script>
      </div>
    </div>
  </div>
  <div class="absolute pin-cb w-1 zindex-1 embed embed-slant" aria-hidden="true" role="presentation">
    <svg class="embed-item" width="1600" height="80" viewBox="0 0 1600 80">
      <rect fill="#fff" width="1629.8" height="220.36" x="-9" y="40.5" transform="rotate(-2 805.388 151.596)"></rect>
    </svg>
  </div>
</section>
