<section class="intro bg-green-light bg-green-light-texture relative {{include.class}}" id="intro">
  <div class="relative zindex-3 testimonial-button-wrap">
    <div class="intro-text wrapper gutter-1-2 pad-t-2 pad-b-2 push">
      <h1 class="main-title peta push"><span tabindex="0">{{page.main_title}}</span></h1>
      <div class="max-length not-centered push">
        <p class="tera push-0">{{page.main_desc | replace: '& ', '<abbr title="and">&amp;</abbr> '}}</p>
      </div>
    </div>
  </div>
  <div class="absolute pin-cb w-1 zindex-1 embed embed-slant" aria-hidden="true" role="presentation">
    <svg class="embed-item" width="1600" height="80" viewBox="0 0 1600 80">
      <rect fill="#fff" width="1629.8" height="220.36" x="-9" y="40.5" transform="rotate(-2 805.388 151.596)"></rect>
    </svg>
  </div>
</section>
