<section class="pad-t-1-2 pad-b gutter-1-2">
  <header class="text-center push-2">
    <h2 class="yotta"><span tabindex="0" id="curriculum">{{site.data.curriculum.title}}</span></h2>
    <p class="mega max-length push-0">{{site.data.curriculum.desc | replace: '& ', '<abbr title="and">&amp;</abbr> '}}</p>
  </header>
  <div class="max-length push-2">
    <div class="video-wrap embed embed-16by9">
      <a class="video-link embed-item link-box" href="https://{% if site.data.curriculum.video.service == 'vimeo' %}vimeo.com{% else %}youtu.be{% endif %}/{{site.data.curriculum.video.id}}" data-video-id="{{site.data.curriculum.video.id}}" data-video-service="{{site.data.curriculum.video.service}}" rel="external" title="{{site.data.curriculum.video.link}}" aria-label="{{site.data.curriculum.video.link}}">
        <img class="img-flex" src="{{site.baseurl}}/images/{{site.data.curriculum.video.poster}}" alt="{{site.data.curriculum.video.link}}">
      </a>
    </div>
  </div>
  <div class="gutter gutter-only-on-large text-center pad-t-1-2">
    <ul class="list-group grid gutter-2 angle-card-group gutter-only-on-large">
      {% for topic in site.data.curriculum.topics %}
        <li class="unit [ xs-1 s-1-2 l-1-3 ] gutter-1-4 {% if forloop.last %}unit-s-centered{% endif %}">
          <div class="angle-card pad-b push-2">
            <i class="curriculum-icon icon i-96 block center-block push-1-2" aria-hidden="true" role="presentation"><svg><use xlink:href="#{{topic.icon}}"></use></svg></i>
            <h3 class="push"><a href="{{topic.url}}">{{topic.title}}</a></h3>
            <p>{{topic.desc | replace: '& ', '<abbr title="and">&amp;</abbr> '}}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="text-center pad-t-1-2">
    <a class="btn btn-blue-light btn-pill" href="{{site.data.curriculum.button_url}}">{{site.data.curriculum.button}}</a>
  </div>
</section>
