<section class="stats pad-t gutter-1-4 push">
  <div class="pad-t-2 max-length angle-card angle-card-top angle-card-reverse pad-b-2">
    <h2 class="giga push-1-2 color-green-dark">New, More Flexible Program of Study</h2>
    <p class="push-1-2"><em>Our new dual intake means that you can start your studies in the fall or in the winter. This also offers more flexibility in scheduling courses.</em></p>
    <p class="push-1-2">We've made significant improvements to our curriculum to better reflect industry trends.</p>
    <p class="push-0">We have revised and added courses to be delivered online to offer more flexibility for our learners.</p>
  </div>
</section>
