<section class="bg-grey-light">
  <div class="bg-white push">
    <svg class="chop w-1 block" width="1600" height="80" viewBox="0 0 1600 80">
      <rect fill="#e2e2e2" width="1629.8" height="220.36" x="-9" y="40.5" transform="rotate(2 805.388 151.596)"/>
    </svg>
  </div>
  <div class="gutter-1-4 pad-b">
    <header class="text-center">
      <h2 class="yotta push-1-2">{{site.data.faculty.title}}</h2>
      <p class="mega max-length push-0">{{site.data.faculty.desc}}</p>
    </header>
  </div>
</section>
