<section class="bg-grey-light bg-grey-texture">
  <div class="embed embed-slant push">
    <svg class="embed-item" width="1600" height="80" viewBox="0 0 1600 80">
      <rect fill="#fff" width="1629.8" height="187.41" x="-16.1" y="-146.8" transform="rotate(-2 797.48 -51.983)"/>
    </svg>
  </div>
  <header class="text-center gutter-1-2 pad-b push">
    <h2 class="yotta"><span tabindex="0" id="faculty">{{site.data.faculty.title}}</span></h2>
    <p class="mega max-length push-0">{{site.data.faculty.desc | replace: '& ', '<abbr title="and">&amp;</abbr> '}}</p>
  </header>
  <div class="gutter gutter-only-on-large pad-t-1-2">
    <ul class="list-group grid gutter-2 gutter-only-on-large">
      {% for person in site.data.faculty.people %}
        <li class="unit [ xs-1 s-1-2 l-1-3 ] gutter-1-4 push unit-content-distribute {% if forloop.last %}unit-s-centered{% endif %}">
          <div class="gutter gutter-only-on-large content-fill unit-content-distribute">
            <div> <!-- To fix flexbox weirdness in Firefox -->
              <div class="embed embed-1by1">
                <svg class="embed-item" width="256" height="256" viewBox="0 0 256 256">
                  <defs>
                    <mask id="mask-{{forloop.index}}">
                      {% capture even_or_odd %}{{forloop.index | modulo: 2}}{% endcapture %}
                      {% if even_or_odd == "1" %}
                        <polygon fill="#fff" points="256 256 0 256 0 8.7 256 0 256 256"></polygon>
                      {% else %}
                        <polygon fill="#fff" points="0 256 256 256 256 8.7 0 0 0 256"></polygon>
                      {% endif %}
                    </mask>
                  </defs>
                  <image mask="url(#mask-{{forloop.index}})" xlink:href="{{site.baseurl}}/images/faculty/{{person.img}}" width="256" height="256"></image>
                </svg>
              </div>
            </div>
            <div class="faculty-card-details pad-t-1-2 pad-b-1-2 gutter-1-2 content-fill">
              <h3 class="giga push-1-8"><span tabindex="0">{{person.name}}</span></h3>
              {% if person.coord %}<p class="push-0"><em>{{person.coord}}</em></p>{% endif %}
              <p class="push-1-4">{{person.desc | replace: '& ', '<abbr title="and">&amp;</abbr> '}}</p>
              {% if person.links %}
                <ul class="bullet-sep-list list-group-inline milli push-0">
                  {% for link in person.links %}
                    <li>
                      <a href="{{link.url}}" rel="external">{{link.title}}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <footer class="text-center gutter-1-2 pad-t pad-b-2">
    <p class="giga max-length pad-t-1-4 push-0">{{site.data.faculty.outro}}</p>
  </footer>
</section>
