<meta name="description" content="{{site.data.metadata.desc}}">

<meta name="application-name" content="{{site.data.metadata.title_short}}">
<link rel="apple-touch-icon-precomposed" href="/favicon-152.png">
<meta name="msapplication-TileImage" content="/favicon-144.png">
<meta name="msapplication-TileColor" content="#94c947">

<meta property="og:type" content="website">
<meta property="og:title" content="{{site.data.metadata.title_short}}">
<meta property="og:url" content="https://algonquindesign.ca/">
<meta property="og:locale" content="en_CA">
<meta property="og:site_name" content="{{site.data.metadata.title_short}}">
<meta property="og:description" content="{{site.data.metadata.desc}}">
<meta property="og:image" content="https://algonquindesign.ca/favicon-social.png">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{site.data.metadata.title_short}}">
<meta name="twitter:site" content="@algonquindesign">
<meta name="twitter:url" content="https://algonquindesign.ca/">
<meta name="twitter:description" content="{{site.data.metadata.desc}}">
<meta name="twitter:image" content="https://algonquindesign.ca/favicon-social.png">
