<section class="pad-b bg-grey-light-alt bg-grey-texture-alt">
  <div class="push">
    <svg class="chop w-1 block" width="1600" height="80" viewBox="0 0 1600 80">
      <rect fill="#fff" width="1629.8" height="187.41" x="-16.1" y="-146.8" transform="rotate(-2 797.48 -51.983)"></rect>
    </svg>
  </div>
  <header class="text-center gutter-1-4 pad-b push">
    <h2 class="yotta"><span tabindex="0">{{site.data.resources.title}}</span></h2>
    <p class="mega max-length push-0">{{site.data.resources.desc | replace: '& ', '<abbr title="and">&amp;</abbr> '}}</p>
  </header>
  <div class="gutter pad-t-1-2 wrapper text-center">
    {% for resources in site.data.resources.resources %}
      <h3 class="giga push-1-4"><span tabindex="0">{{resources.title}}</span></h3>
      <ul class="mega list-group-inline bullet-sep-list push-2">
        {% for link in resources.links %}
          <li>
            <a href="{{link.url}}" rel="external">{% if link.highlight %}<strong>{% endif %}{{link.title}}{% if link.highlight %}</strong>{% endif %}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</section>
