<nav class="schedule-nav" aria-label="Schedule navigation">
  <ul>
    <li>
      <a
        href="{{ '/schedule/' | relative_url }}"
        class="{% if page.day == 'Monday' %}is-current-day{% endif %}"
      >Monday</a>
    </li>
    <li>
      <a
        href="{{ '/schedule/tuesday/' | relative_url }}"
        class="{% if page.day == 'Tuesday' %}is-current-day{% endif %}"
      >Tuesday</a>
    </li>
    <li>
      <a
        href="{{ '/schedule/wednesday/' | relative_url }}"
        class="{% if page.day == 'Wednesday' %}is-current-day{% endif %}"
      >Wednesday</a>
    </li>
    <li>
      <a
        href="{{ '/schedule/thursday/' | relative_url }}"
        class="{% if page.day == 'Thursday' %}is-current-day{% endif %}"
      >Thursday</a>
    </li>
    <li>
      <a
        href="{{ '/schedule/friday/' | relative_url }}"
        class="{% if page.day == 'Friday' %}is-current-day{% endif %}"
      >Friday</a>
    </li>
  </ul>
</nav>