<!-- Structured Data for Location (JSON-LD) -->
 <script type="application/ld+json">
 	{
 	  "@context": "https://schema.org",
 	  "@type": "CollegeOrUniversity",
 	  "name": "Algonquin College",
 	  "url": "https://algonquindesign.ca",
 	  "address": {
 	    "@type": "PostalAddress",
 	    "streetAddress": "1385 Woodroffe Avenue",
 	    "addressLocality": "Ottawa",
 	    "addressRegion": "ON",
 	    "postalCode": "K2G1V8",
 	    "addressCountry": "CA"
 	  },
 	  "geo": {
 	    "@type": "GeoCoordinates",
 	    "latitude": 45.34793,
 	    "longitude": -75.75874
 	  }
 	}
</script>
