<ul class="skip-links">
  <li><a href="#testimonials">{{site.data.banner.testimonials_title}}</a></li>
  <li><a href="#design-for-you">{{site.data.stats.foryou.title | replace: ':', ''}}</a></li>
  <li><a href="#career-opportunities">{{site.data.stats.career.title}}</a></li>
  <li><a href="#program-highlights">{{site.data.stats.highlights.title}}</a></li>
  <li><a href="#news">{{site.data.news.section_title}}</a></li>
  <li><a href="#hear-from-grads">{{site.data.video.title}}</a></li>
  <li><a href="#student-work-samples">{{site.data.sample-work.title}}</a></li>
  <li><a href="#curriculum">{{site.data.curriculum.title}}</a></li>
  <li><a href="#faculty">{{site.data.faculty.title}}</a></li>
  <li><a href="#grad-shows">{{site.data.grads.title}}</a></li>
  <li><a href="#portfolio-requirements">{{site.data.portfolio.title}}</a></li>
  <li><a href="#apply-now">{{site.data.interested.title}}</a></li>
</ul>
