<section class="stats pad-t gutter-1-4">
  <div class="grid gutter">
    <div class="stats-group unit [ xs-1 l-1-3 ] pad-t pad-b gutter-2 gutter-only-on-large">
      <h2 class="giga push-1-2 color-green-dark">{{site.data.stats.foryou.title}}</h2>
      <ul class="stats-list list-group milli push-0 max-length not-centered">
        {% for item in site.data.stats.foryou.items %}
          <li class="push-1-4">
            <i class="stats-icon icon i-24"><svg><use xlink:href="#checkbox"></use></svg></i>
            <span class="icon-label">{{item}}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="stats-group unit [ xs-1 l-1-3 ] pad-t pad-b gutter-2 gutter-only-on-large">
      <h2 class="giga push-1-2 color-green-dark">{{site.data.stats.career.title}}</h2>
      <ul class="stats-list stats-list-small stats-m-columns list-group push-0">
        {% for item in site.data.stats.career.items %}
          <li class="push-1-4">
            <i class="stats-icon stats-icon-small icon i-18"><svg><use xlink:href="#chevron"></use></svg></i>
            <span class="icon-label">{{item}}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="stats-group unit [ xs-1 l-1-3 ] pad-t pad-b gutter-2 gutter-only-on-large">
      <h2 class="giga push-1-2 color-green-dark">{{site.data.stats.highlights.title}}</h2>
      <ul class="stats-list list-group milli push-0 max-length not-centered">
        {% for item in site.data.stats.highlights.items %}
          <li class="push-1-4">
            <i class="stats-icon icon i-24"><svg><use xlink:href="#checkbox"></use></svg></i>
            <span class="icon-label">{{item}}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
