<section class="pad-b-2 push-2 text-center bg-orange bg-orange-texture">
  <div class="push">
    <svg class="chop w-1 block" width="1600" height="80" viewBox="0 0 1600 80">
      <rect fill="#fff" width="1629.8" height="187.41" x="-16.1" y="-146.8" transform="rotate(2 797.48 -51.983)"/>
    </svg>
  </div>
  <header class="text-center gutter-1-4 push-2">
    <h2 class="yotta">{{site.data.student-video.title}}</h2>
    <p class="mega max-length push-0">{{site.data.student-video.desc | replace: '& ', '<abbr title="and">&amp;</abbr> '}}</p>
  </header>
  <div class="max-length">
    <div class="video-wrap embed embed-16by9">
      <iframe class="embed-item" src="https://www.youtube.com/embed/cN6ULi1DaZ8?color=white&theme=light&rel=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>
