<div class="media-block testimonials wrapper grid grid-stretch" role="tabpanel" id="testimonial-1" aria-hidden="false">
  <div class="media-block-img testimonial-img unit [ xs-1 s-1-4 ] relative zindex-2" style="background-image:url({{site.baseurl}}/images/testimonials/{{include.testimonial.image}})">&nbsp;</div>
  <div class="media-block-text testimonial-text unit [ xs-1 s-3-4 ] relative zindex-3 gutter pad-t pad-b unit-content-distribute">
    <blockquote class="content-stretch center-contents-vertical-start push-0">
      <p class="giga push-1-2 italic"><span class="testimonial-quote">{{include.testimonial.text}}</span></p>
      <footer><span aria-hidden="true" role="presentation">— </span><cite class="testimonial-author"><a href="mailto:paradia@algonquincollege.com">{{include.testimonial.author}}</a></cite></footer>
    </blockquote>
  </div>
</div>
