<div class="absolute w-1 zindex-3 text-center">
  <ol class="list-group-inline push-0 testimonial-buttons" role="tablist">
    <li><button class="testimonial-button icon i-18 ir" aria-controls="testimonial-1" aria-selected="true" title="Show first testimonial" aria-label="Show first testimonial" role="tab">Show first testimonial</button></li>
    <li><button class="testimonial-button icon i-18 ir" aria-controls="testimonial-2" aria-selected="false" title="Show second testimonial" aria-label="Show second testimonial" role="tab">Show second testimonial</button></li>
    <li><button class="testimonial-button icon i-18 ir" aria-controls="testimonial-3" aria-selected="false" title="Show third testimonial" aria-label="Show third testimonial" role="tab">Show third testimonial</button></li>
  </ol>
</div>
