---
layout: default
title: "Jobs · Algonquin Design"
desc: "Inquire about hiring one of our fantastic, highly skilled & motivated Graphic Design students."
main_title: "Jobs"
main_desc: "Inquire about hiring one of our fantastic, highly skilled & motivated Graphic Design students."
---

<ul class="skip-links">
  <li><a href="#intro">Jump to introduction</a></li>
  <li><a href="#main">Jump to main content</a></li>
</ul>

{% include icons.html %}
{% include masthead.html %}

<main role="main" id="main">
  {% include banner-inside.html %}

  <div class="wrapper gutter-1-2 pad-t">
    <h2 class="exa">Hire a Designer</h2>
    <p class="mega">Students in the Graphic Design program undergo rigorous training in their field. They may even specialize in specific disciplines, such as branding, web development, publication design, user interface design, and more. <em>What we wish for our students is for them to find fulfilling employment in the industry and hope they’ll occasionally provide their services at no cost for the public good.</em></p>
  </div>

  <div class="pad-t-2 pad-b-2">
    <aside class="media-block-wrap gutter-1-2">
      <div class="media-block wrapper grid grid-stretch">
        <div class="media-block-img media-block-img-contain unit [ xs-1 s-1-4 ] unit-content-distribute" style="background-image:url({{site.baseurl}}/images/jobs/ac-graphic-design.svg);background-color:#00673e;">
          <a class="content-stretch ir link-box" href="/">Learn more about Algonquin Design</a>
        </div>
        <div class="media-block-text unit [ xs-1 s-3-4 ] gutter pad-t pad-b unit-content-distribute">
          <div class="grid grid-middle content-stretch">
            <div class="unit [ xs-1 m-2-3 ] unit-content-distribute">
              <div class="content-stretch center-contents-vertical-start">
                <h2 class="giga push-1-2"><span tabindex="0" id="news">Algonquin Design</span></h2>
                <p class="block push-1-2 mega italic">Learn more about Algonquin College’s Graphic Design program</p>
                <p class="push-0">See what problems our amazing students can help you solve and discover the wonderful things they can produce.</p>
              </div>
            </div>
            <div class="news-learn-more unit [ xs-1 m-1-3 ] unit-content-distribute pad-t">
              <div class="text-center content-stretch center-content mega">
                <a class="relative" href="/" rel="external">
                  <span class="icon-label push-r">Learn more</span>
                  <i class="icon i-16 absolute pin-rc"><svg><use xlink:href="#arrow"></use></svg></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>

  <div class="wrapper gutter-1-2 pad-t pad-b">
    <h2 class="exa">Rates</h2>
    <p class="mega push-0">We’re confident you will find our students’ rates very affordable. In fact, they will be way below usual industry rates. What we want to avoid is having them work for no money, or too little money. <strong>If you’re looking for free graphic design services for a for-profit endeavour, please enquire elsewhere.</strong></p>
  </div>

  <div class="pad-t-2 pad-b-2">
    <aside class="media-block-wrap gutter-1-2">
      <div class="media-block wrapper grid grid-stretch">
        <div class="media-block-img media-block-img-contain unit [ xs-1 s-1-4 ] unit-content-distribute" style="background-image:url({{site.baseurl}}/images/jobs/rgd.svg);background-color:#ed1d24;">
          <a class="content-stretch ir link-box" href="https://www.rgd.ca/resources/no-spec">Learn more about spec work</a>
        </div>
        <div class="media-block-text unit [ xs-1 s-3-4 ] gutter pad-t pad-b unit-content-distribute">
          <div class="grid grid-middle content-stretch">
            <div class="unit [ xs-1 m-2-3 ] unit-content-distribute">
              <div class="content-stretch center-contents-vertical-start">
                <h2 class="giga push-1-2"><span tabindex="0" id="news">Spec work</span></h2>
                <p class="block push-1-2 mega italic">Learn what spec work is and why it’s harmful to our industry</p>
                <p class="push-0">Our students will not work for free—except for non-profits that gives us warm, fuzzy feelings.</p>
              </div>
            </div>
            <div class="news-learn-more unit [ xs-1 m-1-3 ] unit-content-distribute pad-t">
              <div class="text-center content-stretch center-content mega">
                <a class="relative" href="https://www.rgd.ca/resources/no-spec" rel="external">
                  <span class="icon-label push-r">Read more</span>
                  <i class="icon i-16 absolute pin-rc"><svg><use xlink:href="#arrow"></use></svg></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>

  <div class="wrapper gutter-1-2 pad-t pad-b">
    <h2 class="exa">Submit a job</h2>
    <p class="mega">Once you submit your information, we will vet it, then distribute it to our students. They will contact you directly, where you can evaluate and choose amongst them as you see fit. Negotiation of rates will be between you and the candidate.</p>
    <p class="max-length push-2 not-centered">If you do not receive any responses, it's possible their schedules are full. You may reach out to <a href="maito:paradia@algonquincollege.com">Alain Paradis</a> to enquire.</p>

    <form class="max-length not-centered push-2" method="post" action="https://formspree.io/f/paradia@algonquincollege.com">
      <div class="push">
        <label class="push-1-4" for="name">Name</label>
        <input id="name" name="Name" required>
      </div>
      <div class="push">
        <label class="push-1-4" for="email">Email</label>
        <input type="email" id="email" name="Email" required>
      </div>
      <div class="push">
        <label class="push-1-4" for="tel">Phone</label>
        <input type="tel" id="tel" name="Phone" required>
      </div>
      <div class="push">
        <label class="push-1-4" for="org">Organization name <em class="flag-optional gutter-1-2">(Optional)</em></label>
        <input id="org" name="Organization">
      </div>
      <div class="push">
        <label class="push-1-4" for="addr">Address <em class="flag-optional gutter-1-2">(Optional)</em></label>
        <input id="addr" name="Address">
      </div>
      <div class="push">
        <label class="push-1-4" for="city">City <em class="flag-optional gutter-1-2">(Optional)</em></label>
        <input id="city" name="City">
      </div>
      <div class="push">
        <label class="push-1-4" for="type">You are a…</label>
        <select id="type" name="Type" required>
          <option value=""></option>
          <option value="Individual">Individual</option>
          <option value="Design firm">Design firm</option>
          <option value="For profit company">For profit company</option>
          <option value="Registered charity">Registered charity</option>
          <option value="Non-profit or not-for-profit">Non-profit or not-for-profit</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="push">
        <label class="push-1-4" for="seeking">You’re seeking a designer for…</label>
        <select id="seeking" name="Seeking" required>
          <option value=""></option>
          <option value="A single job">A single job</option>
          <option value="A limited-time contract">A limited-time contract</option>
          <option value="Ongoing part-time work">Ongoing part-time work</option>
          <option value="A full-time position">A full-time position</option>
          <option value="Other">Other, describe below</option>
        </select>
      </div>
      <fieldset class="push-1-2">
        <legend>Is the work paid?</legend>
        <div>
          <input type="radio" id="work-paid-yes" name="Paid" value="Yes">
          <label for="work-paid-yes" class="push-r-1-2">Paid</label>
          <input type="radio" id="work-paid-no" name="Paid" value="No">
          <label for="work-paid-no">Not paid</label>
        </div>
      </fieldset>
      <div class="push">
        <label for="desc">Description of the work needed</label>
        <p class="milli flag-optional push-1-4 italic">(General graphic design, web design, branding, motion video, etc.)</p>
        <textarea id="desc" name="Description" required></textarea>
      </div>
      <div class="push">
        <label for="timeframe">Timeframe to complete the work</label>
        <p class="milli flag-optional push-1-4 italic">(2 weeks, 1 month, 6 months, etc.)</p>
        <input id="timeframe" name="Timeframe" required>
      </div>
      <fieldset class="push">
        <legend>Application requirements</legend>
        <p class="milli flag-optional push-1-2 italic">(What information & documents should the applying students send you?)</p>
        <div class="push-1-4">
          <input type="checkbox" id="send-resume" name="Resume" value="Yes">
          <label for="send-resume">Résumé</label>
        </div>
        <div>
          <input type="checkbox" id="send-portfolio" name="Portfolio" value="Yes">
          <label for="send-portfolio">Portfolio</label>
        </div>
      </fieldset>
      <input type="hidden" name="_subject" value="Student Employment Opportunity">
      <input type="hidden" name="_next" value="https://algonquindesign.ca/jobs/thanks/">
      <input type="hidden" name="_format" value="plain">
      <input type="hidden" name="_cc" value="bromled@algonquincollege.com">

      <small class="block push-2 milli italic">By providing your contact information, you are granting the Graphic Design program permission to contact you for program-related activities. We mostly wish to invite you to our yearly Grad Show. We will not share your private information.</small>

      <div><button class="btn giga" type="submit">Submit job</button></div>
    </form>
  </div>

</main>

{% include footer.html %}
