---
layout: default
title: "Thanks for submitting a jobs · Algonquin Design"
desc: "Thanks for submitting the possible graphic design work to our students—you’ll hear from interested candidates shortly."
main_title: "Thanks"
main_desc: "Thanks for submitting the possible graphic design work to our students—you’ll hear from interested candidates shortly."
---

<ul class="skip-links">
  <li><a href="#intro">Jump to introduction</a></li>
  <li><a href="#main">Jump to main content</a></li>
</ul>

{% include icons.html %}
{% include masthead.html %}

<main role="main" id="main">
  {% include banner-inside.html %}

  <div class="wrapper gutter-1-2 pad-t pad-b-2">
    <a class="btn giga" href="/">Back to the homepage ➔</a>
  </div>

</main>

{% include footer.html %}
